.tab {
  font-family: "Courier New", Courier, monospace;	
}

textarea {
  width: 100%;
  height: 150px;
}

.convert {
  float: right;
}

.container {
  margin-top: 10px;
}

.option {
  width: 100%;
  font-size: 24px;
}

.option:hover {
  background-color: #ededf6;
}

.option.active:hover {
  background-color: #ededf6;
}

.option.active {
  background-color: #dbdbed;
}

.guitar {
  width: 30%;
  min-width: 100px;
}

.ukulele {
  width: 50%;
  min-width: 100px;
}