@import "global.css";

.tab {
  font-family: "DejaVu Sans Mono", monospace;
  width: 100%;
  height: 150px;
}

.tall-tab {
  height: 400px;
}

.convert {
  float: right;
}

.container {
  margin-top: 10px;
}

.option {
  width: 100%;
  font-size: 24px;
}
