/*
Note: always import bootstrap first, or else it'll overwrite styles
*/
@import "~bootstrap/dist/css/bootstrap.css";

:root {
  --dark-blue: #337ab7;
  --main-blue: var(--dark-blue);
  --theme-text: black;
  --theme-background: white;
}

@media screen and (max-device-width: 600px) {
  :root {
    font-size: 30px;
  }

  #allSongs {
    font-size: 4vw;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-blue: #a2c6e5;
    --theme-text: white;
    --theme-background: black;
  }

  svg {
    filter: invert(100%);
  }
}

a {
  color: var(--main-blue);
}

a:hover {
  font-weight: 500;
  text-decoration: none;
  color: var(--main-blue);
}

html body {
  background: var(--theme-background);
  color: var(--theme-text);
}

.highlight {
  background-color: #c1d7e9;
}

pre {
  border: 0;
  background-color: transparent;
  font-family: "DejaVu Sans Mono", monospace;
}

/* Navbar styles */

.navbar-light .navbar-nav .nav-link {
  color: var(--dark-blue);
}

.navbar-light .navbar-nav .nav-link:hover {
  font-weight: 500;
  text-decoration: none;
  color: var(--dark-blue);
}

/* Navbar social icons */

.social-section {
  margin-left: auto;
}

.social-image {
  padding: 0 4px;
  vertical-align: middle;
  font-size: 32px;
  color: black;
}

.social-image:hover {
  opacity: 0.5;
}

/* Container */

.container {
  padding: 8px 0;
}
