/*
Note: always import bootstrap first, or else it'll overwrite styles
*/
@import "~bootstrap/dist/css/bootstrap.min.css";

.highlight {
  background-color: #c1d7e9;
}

pre {
  border: 0;
  background-color: transparent;
  font-family: "DejaVu Sans Mono", monospace;
}


/* Navbar styles */

.navigation {
  margin: 2px 0;
  line-height: 46px;
  height: 46px;
  display: flex;
}

.navbar-logo {
  width: 150px;
}

.navbar-logo > .navbar-link {
  color: #000;
  font-size: 16px;
}

.navbar-item {
  text-align: center;
  min-width: 90px;
  padding-left: 4px;
}

.navbar-link:hover {
  text-decoration: none;
  font-weight: 500;
}

.random {
  color: #000;
}

.random:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* Navbar social icons */

.social-section {
  margin-left: auto;
}

.social-image {
  padding: 0 2px;
}

.social-image:hover {
  opacity: 0.5;
}