@media print {
  .ui-widget {
    display: none;
  }

  .widgets {
    display: none;
  }

  .chordPics {
    position: absolute !important;
  }
}

#capo {
  line-height: inherit;
  display: none;
}

@font-face {
  font-family: "DejaVu Sans Mono";
  src: local("DejaVu Sans Mono"),
    url("~dejavu-fonts-ttf/ttf/DejaVuSansMono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.ui-widget {
  padding: 4px 0;
  break-inside: avoid;
  color: var(--theme-text);
}

.line {
  font-family: "DejaVu Sans Mono", monospace;
  font-size: 1em;
  line-height: 1.5em;
  white-space: pre-wrap;
}

.chordLyricLine {
  font-family: "DejaVu Sans Mono", monospace;
  font-size: 1em;
  white-space: pre-wrap;
}

.fakeChordLine {
  white-space: pre-wrap;
}

.chords {
  color: var(--main-blue);
}

.chordLyricLine .chords {
  position: relative;
  height: 2.7em;
  display: inline-block;
  vertical-align: text-bottom;
}

.chordLyricLine .chords .overLyric {
  position: absolute;
}

#song {
  padding-left: 8px;
  width: 100%;
  height: 100%;
  column-fill: auto;
}

#songContainer {
  flex: auto;
  position: relative;
}

#songView {
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 0 8px 32px;
}

html#songPage,
html#songPage body {
  height: 100%;
}

#allSongs {
  column-width: 360px;
  column-count: 3;
}

#chordPicBox {
  position: relative;
  padding: 20px;
  background-color: var(--theme-background);
  border: none;
}

.chordPics {
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--theme-background);
  border: 1px solid var(--main-blue);
  border-top: 0;
  border-right: 0;
  z-index: 3;
}

.hideable:hover {
  cursor: pointer;
}

.chord {
  display: inline-block;
  margin: 0 0.5em;
  vertical-align: top;
  text-align: center;
}

.chordName {
  font-size: 2vh;
}

.chordUnknown {
  font-size: 6vh;
}

.songTag {
  break-inside: avoid-column;
}
