.line {
    font-family: monospace;
    font-size: 13px;
}
.chords {
    display: block;
    background-color: white;
    white-space: pre;
}

.lyrics {
    cursor: pointer;
}

.lyrics.current {
    background-color: #ffffcc;
}

.chords.current {
    background-color: #C1F2F7;
}

/* motion detection debug */
video, canvas {
    width: 480px;
    height: 360px;
    background-color: #999;
}