{% extends "partials/base.html" %} {% block content %}
<div class="container textContainer">
  <h1 class="headingPrimary">Alexander Hamilton - Hamilton</h1>
  <p>
    This guide includes the strum patterns I use to play Alexander Hamilton
    from Hamilton. See
    <a href="https://www.musicparsed.com/song/hamilton/alexander_hamilton" target="_blank">here</a>
    for chords/lyrics. See
    <a href="https://youtu.be/rMJsm6TC9f4" target="_blank">Youtube</a> for my
    ukulele play-along video. If you're just learning the song, you can also try
    playing through with just single strums and learning the strum patterns
    separately.
  </p>
  <p>
    There are 5 different strum patterns I use in the song. First, I'll go over
    the names for all the strum patterns. I made up some of the names to
    describe what I'm doing. Then, I'll go over how to play each strum pattern.
    Finally, I'll go over <a href="#song-outline">a song outline</a> and when I
    use each strum pattern in the song.
  </p>
  <ol>
    <li>Single strum snap snap</li>
    <li>dud tap tap</li>
    <li>Pump strum</li>
    <li>Quiet island strum</li>
    <li>dud tap tap extended</li>
  </ol>
  <b>1. Single strum snap snap</b>
  <p>
    Play a single strum on beat 1, and snap on beats 2 and 4. If you can't snap,
    feel free to substitute some other percussive sound, such as a knock on your
    ukulele. The more complicated strum patterns share this same basic rhythm,
    so practice the rhythm of this strum first.
  </p>
  <pre>
  1 + 2 + 3 + 4 +
  d   x       x
  </pre>
  <b>2. dud tap tap</b>
  <p>
    Similarly to the last strum pattern, the percussion is on beats 2 and 4.
    However, I play dud at the beginning instead of a single down strum.
  </p>
  <pre>
  1 + 2 + 3 + 4 +
  dud x       x
  </pre>
  <b>3. Pump strum</b>
  <p>
    The pump strum is a sequence of down strums where each down strum is
    followed by a mute. I use left-handed muting to quickly mute each chord
    before playing the next. If you aren't familiar with left-handed muting,
    feel free to omit it or learn it separately.
  </p>
  <pre>
  1 + 2 + 3 + 4 +
  d d d d d d d d
  </pre>
  <b>4. Quiet island strum</b>
  <p>
    The typical island strum is d du udu. For this song, I play a variant where
    I don't play the second down beat. Written out, the strum pattern is:
  </p>
  <pre>
  1 + 2 + 3 + 4 +
  d  u udud  u udu
  </pre>
  <b>5. dud tap tap extended</b>
  <p>
    This is the most complicated strum pattern I use. I'd suggest learning the
    single strum snap snap and basic dud tap tap strum patterns first. That way,
    you understand the basic rhythm for this strum. This strum consists of the
    same strums in the dud tap tap strum pattern along with some additional
    strums to fill in the sound.
  </p>
  <pre>
  1 + 2 + 3 + 4 +
  dud x  u ud x du
  </pre>

  <div class="headingSecondary" id="song-outline">Song Outline
  </div>
  <p>
    Here's a song outline that describes when I use each strum pattern in the
    song. To disambiguate different sections, I included the start and end
    lyrics for each section.
  </p>
  <br />
  <table class="table">
    <tr>
      <th>Section</th>
      <th>Section lyrics</th>
      <th>Strum pattern</th>
    </tr>
    <tr>
      <td>Burr + Laurens verses</td>
      <td>How does a bastard...a trading charter</td>
      <td>single strum snap snap</td>
    </tr>
    <tr>
      <td>Jefferson + Madison verses</td>
      <td>And every day...testament to his pain</td>
      <td>dud tap tap</td>
    </tr>
    <tr>
      <td>Burr verse</td>
      <td>Well the word got around...name, man?</td>
      <td>pump strum</td>
    </tr>
    <tr>
      <td>Hamilton + Eliza + Washington verses</td>
      <td>Alexander Hamilton...treatise on the shelf</td>
      <td>quiet island strum</td>
    </tr>
    <tr>
      <td>Burr verse part I</td>
      <td>There woulda been...can't afford</td>
      <td>single strums</td>
    </tr>
    <tr>
      <td>Burr verse part II + company</td>
      <td>Scammin' for...In New York (New York). Just you wait!</td>
      <td>dud tap tap</td>
    </tr>
    <tr>
      <td>Company verse part I</td>
      <td>Alexander Hamilton...rewrote the game?</td>
      <td>dud tap tap extended</td>
    </tr>
    <tr>
      <td>Company verse part II + Burr + testimonials</td>
      <td>The world will never...Me? I loved him.</td>
      <td>pump strum</td>
    </tr>
    <tr>
      <td>Ending</td>
      <td>There's a million...Alexander Hamilton!</td>
      <td>quiet island strun</td>
    </tr>
  </table>
</div>
{% endblock %}