{% extends "partials/base.html" %}

{% block content %}
<div class="container">
  <h1>Burn - Hamilton</h1>
  <p>
    This is the strum pattern I use to play Burn from Hamilton. See
    <a href="https://www.musicparsed.com/song/hamilton/burn" target="_blank">here</a> for chords/lyrics. See <a href="https://www.youtube.com/watch?v=5sV8G1MCYs8" target="_blank">Youtube</a> for my ukulele play-along video.
  </p>
  <p>
    There are 3 different picking/strum patterns in the song.
    <ol>
      <li>Picking pattern</li>
      <li>Riff</li>
      <li>Bridge strum pattern</li>
    </ol>
  </p>
  <p>
    The finger-string assignment I use is:
    <ol>
      <li>G - thumb</li>
      <li>C - thumb</li>
      <li>E - index</li>
      <li>A - middle</li>
    </ol>
  </p>
  <b>1. Picking pattern</b>
  <p>
    The picking pattern used is very similar to the riff, so learn the picking pattern first. You can practice the picking pattern on an Am7 chord (all open strings). When you have the right hand motion down, then you can try playing with the chords in the song.
  </p>
  <pre>
     1 2 3 4 5 6
     Am7
  A|-0-----0-----
  E|-0---0-0-0---
  C|-0-0-------0-
  G|-0-----------
  </pre>
  <p>
    When there's a split measure, the picking pattern is:
  </p>
  <pre>
     1 2 3 4 5 6
     D     Em7
  A|-0-----2-----
  E|-2---2-0---0-
  C|-2-2---2-2---
  G|-2-----0-----
  </pre>
  <b>2. Riff</b>
  <p>
    The important thing to keep in mind about the riff is that it's based off chord shapes. That means that holding down chord shapes with your left hand will give you most of the notes. To play notes that aren't part of the chord, use whatever free fingers you have on your left hand to press additional frets. You also may need to modify the chord shape.
  </p>
  <p>
    For example, for the first part of the riff, your left hand should hold down a Bm chord. Then, you can press down your middle finger onto the 3rd fret of the E string to play that additional note.
  </p>
  <pre>
    Bm          F♯
  A|-2-----------1------------
  E|-2---2-3-2---2---2-3-2----
  C|-2-2-------2-1-1-------1--
  G|-4-----------3------------
  </pre>
  <pre>
    Gmaj7        Dsus4
  A|-2-----------0-----0------
  E|-2---2-3-2---3-2---3-2----
  C|-2-2-------2-2---2-2---2--
  G|-0-----------2-----0------
  </pre>
  <b>3. Bridge strum pattern</b>
  <p>
    The bridge strumming pattern is DUd where the first 2 strums are louder than the 3rd:
  </p>
  <pre>
  123456
  DUdDUd
  </pre>
</div>
{% endblock %}