{% extends "partials/base.html" %}

{% block title %}
<title>Learn Good Riddance from Hades on ukulele | Elaine Lin Music</title>
{% endblock %}

{% block content %}
<div class="container textContainer">
  <h1 class="headingPrimary">Learn Good Riddance from Hades on ukulele</h1>
  <h2 class="headingSecondary">Good Riddance - Hades | Ukulele Play-Along</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/SeTbTVmtwp0?si=b59fctf0fEDV6GrS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  <p>Start with a high G ukulele. Tuning is G# C# F A# - tune all strings up a half step.</p>
  <p>
    This is the picking pattern I use to play Good Riddance from
    Hades. Click
    <a href="https://www.musicparsed.com/song/darren_korb/good_riddance?transpose=-1" target="_blank">here</a>
    for a free chord chart.
  </p>
  <p>Let the strings of the ukulele GCEA be 1234.</p>
  <h2 class="headingSecondary">Verse</h2>
  <pre>
    Bm      A   Em      D    A    G
A#|-2---5---0--0-2---2---0--0-0--0-2--2-
F |-2-2---2-0--0-3---3---2--2-0--0-3--3-
C#|-2-------1----4-4---4-2----1----2----
G#|-4-------2----0-------2----2----0----

    Bm      A   Em      D    C    Bm
A#|-2---5---0--0-2---2---0--0-3--3-2--
F |-2-2---2-0--0-3---3---2--2-0--0-2--
C#|-2-------1----4-4---4-2----0----2--
G#|-4-------2----0-------2----0----4--
</pre>
  <h2 class="headingSecondary">Chorus</h2>
  <p>
    The pattern is (1234)-3-4-3.
  </p>

  <pre>
    A       G       F#m     G       F#7
A#|-0---0---2---2---0---0---2---2---4---
F |-0-0---0-3-3---3-2-2---2-3-3---3-2---
C#|-1-------2-------1-------2-------4---
G#|-2-------0-------2-------0-------3---
</pre>

  <h2 class="headingSecondary">Bridge</h2>
  <p>
    For Bm, D: The pattern is (1234)-2-(34)-2.
    <br />For C#dim: The pattern is (1234)-2-3-2. You don’t play the A string.
  </p>
  <pre>
    Bm      C#dim   D       C#dim
A#|-2---2-----------0---0-----------
F |-2---2---0---0---2---2---0---0---
C#|-2-2---2-1-1---1-2-2---2-1-1---1-
G#|-4-------0-------2-------0-------
</pre>
</div>
{% endblock %}