{% extends "partials/base.html" %} {% block content %}
<div class="container textContainer">
  <div class="headingPrimary">Good Riddance - Hades</div>
  <p>
    This guide includes the picking patterns I use to play Good Riddance from
    Hades. See
    <a href="https://www.musicparsed.com/song/darren_korb/good_riddance?transpose=-1" target="_blank">here</a>
    for chords/lyrics.
  </p>
  <p>Let the strings of the ukulele GCEA be 1234.</p>
  <div class="headingSecondary">Verse</div>
  <pre>
    Bm      A   Em      D    A    G
A#|-2---5---0--0-2---2---0--0-0--0-2--2-
F |-2-2---2-0--0-3---3---2--2-0--0-3--3-
C#|-2-------1----4-4---4-2----1----2----
G#|-4-------2----0-------2----2----0----

    Bm      A   Em      D    C    Bm
A#|-2---5---0--0-2---2---0--0-3--3-2--
F |-2-2---2-0--0-3---3---2--2-0--0-2--
C#|-2-------1----4-4---4-2----0----2--
G#|-4-------2----0-------2----0----4--
</pre>
  <div class="headingSecondary">Chorus</div>
  <p>
    The pattern is (1234)-3-4-3.
  </p>

  <pre>
    A       G       F#m     G       F#7
A#|-0---0---2---2---0---0---2---2---4---
F |-0-0---0-3-3---3-2-2---2-3-3---3-2---
C#|-1-------2-------1-------2-------4---
G#|-2-------0-------2-------0-------3---
</pre>

  <div class="headingSecondary">Bridge</div>
  <p>
    For Bm, D: The pattern is (1234)-2-(34)-2.
    <br />For C#dim: The pattern is (1234)-2-3-2. You don’t play the A string.
  </p>
  <pre>
    Bm      C#dim   D       C#dim
A#|-2---2-----------0---0-----------
F |-2---2---0---0---2---2---0---0---
C#|-2-2---2-1-1---1-2-2---2-1-1---1-
G#|-4-------0-------2-------0-------
</pre>
</div>
{% endblock %}