{% extends "partials/base.html" %}

{% block title %}
<title>Learn Memories by Maroon 5 on ukulele | Elaine Lin Music</title>
{% endblock %}

{% block content %}
<div class="container textContainer">
  <h1 class="headingPrimary">Learn Memories by Maroon 5 on ukulele</h1>
  <h2 class="headingSecondary">Memories - Maroon 5 | Ukulele Play-Along</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/0yqRa9pqbaY?si=ymGkUuxP_FI4Q4tR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  <p>Start with an ukulele in standard tuning. I use an ukulele with a low G. Put a capo on the 1st fret.</p>
  <p>
    This is the picking/strum pattern I use to play Memories by Maroon 5. Click
    <a href="https://www.musicparsed.com/song/maroon_5/memories?transpose=-1" target="_blank">here</a>
    for a free chord chart.
  </p>
  <b>1. Picking pattern</b>
  <p>
    Here's the timing of the picking pattern.
  </p>
  <pre>
    Bb    F
    1+2+3+4+1+2+3+4+
  A|----1-------0---
  E|----1-------1---
  C|--2-2-------0---
  G|3---3-2-----2---
    Gm    Dm
    1+2+3+4+1+2+3+4+
  A|----1-------0---
  E|----3-------1---
  C|--2-2-------2---
  G|0---0-2-----2---
    Eb    Bb
    1+2+3+4+1+2+3+4+
  A|----1-------1---
  E|----3-------1---
  C|--3-3-------2---
  G|0---0-3-----3---
    Eb    F
    1+2+3+4+1+2+3+4+
  A|----1-------0---
  E|----3-------1---
  C|--3-3-------0---
  G|0---0-2-----2---
  </pre>
  <b>2. Strum pattern</b>
  <p>
    Here's the timing of the strum pattern.
  </p>
  <pre>
  Bb    F
  1+2+3+4+1+2+3+4+
  d d D d   d D du
  Gm    Dm
  1+2+3+4+1+2+3+4+
  d d D d   d D du
  Eb    Bb
  1+2+3+4+1+2+3+4+
  d d D d   d D du
  Eb    F
  1+2+3+4+1+2+3+4+
  d d D d   d D du
  </pre>
</div>
{% endblock %}