{% extends "partials/base.html" %}

{% block title %}
<title>How to play Memories by Maroon 5 on ukulele | Elaine Lin Music</title>
{% endblock %}

{% block content %}
<div class="container textContainer">
  <h1 class="headingPrimary">How to play Memories by Maroon 5 on ukulele</h1>
  <p>
    These are the picking/strum patterns I use to play Memories by Maroon 5. See
    <a href="https://www.musicparsed.com/song/maroon_5/memories?transpose=-1" target="_blank">here</a>
    for chords/lyrics. See
    <a href="https://youtu.be/0yqRa9pqbaY" target="_blank">Youtube</a> for my
    ukulele play-along video.
  </p>
  <b>1. Picking pattern</b>
  <p>
    Here's the timing of the picking pattern.
  </p>
  <pre>
    Bb    F
    1+2+3+4+1+2+3+4+
  A|----1-------0---
  E|----1-------1---
  C|--2-2-------0---
  G|3---3-2-----2---
    Gm    Dm
    1+2+3+4+1+2+3+4+
  A|----1-------0---
  E|----3-------1---
  C|--2-2-------2---
  G|0---0-2-----2---
    Eb    Bb
    1+2+3+4+1+2+3+4+
  A|----1-------1---
  E|----3-------1---
  C|--3-3-------2---
  G|0---0-3-----3---
    Eb    F
    1+2+3+4+1+2+3+4+
  A|----1-------0---
  E|----3-------1---
  C|--3-3-------0---
  G|0---0-2-----2---
  </pre>
  <b>2. Strum pattern</b>
  <p>
    Here's the timing of the strum pattern.
  </p>
  <pre>
  Bb    F
  1+2+3+4+1+2+3+4+
  d d D d   d D du
  Gm    Dm
  1+2+3+4+1+2+3+4+
  d d D d   d D du
  Eb    Bb
  1+2+3+4+1+2+3+4+
  d d D d   d D du
  Eb    F
  1+2+3+4+1+2+3+4+
  d d D d   d D du
  </pre>
</div>
{% endblock %}