{% extends "partials/base.html" %}

{% block title %}
<title>How to play Midnight Sky by Miley Cyrus on ukulele | Elaine Lin Music</title>
{% endblock %}

{% block content %}
<div class="container textContainer">
  <h1 class="headingPrimary">How to play Midnight Sky on ukulele | Elaine Lin Music</h1>
  <p>
    This is the strum pattern I use to play Midnight Sky by Miley Cyrus. See
    <a href="https://www.musicparsed.com/song/miley_cyrus/midnight_sky" target="_blank">here</a> for chords/lyrics.
    See <a href="https://www.youtube.com/watch?v=HH1x9KmY__I&feature=youtu.be" target="_blank">Youtube</a> for my
    ukulele play-along video.
  </p>
  <p>
    I use 3 strum patterns in different sections of the song:
  <ol>
    <li>Rock strum - verse + chorus</li>
    <li>Picking I - pre-chorus</li>
    <li>Picking II - bridge</li>
  </ol>
  </p>
  <b>1. Rock Strum</b>
  <p>
    This is the strum pattern I use for the verse and chorus. For the chorus, I also add in left-handed muting, which
    adds a more percussive sound.
  </p>
  <p>
    The rock strum is categorized by an emphasis on the 3rd beat. This is the variant I play:
  </p>
  <pre>
  1+2+3+4+1+2+3+4+
  d   D du ud D du
  </pre>

  <b>2. Picking I</b>
  <p>
    I use a basic finger-picking pattern for the pre-chorus (The midnight sky is the road...). The rhythm is
    straightforward: pick on each beat, emphasizing the third.
  </p>
  <pre>
  1 2 3 4
  p p P p
  </pre>
  <p>
    The finger-string assignment is:
  <ol>
    <li>G - x</li>
    <li>C - thumb</li>
    <li>E - index</li>
    <li>A - middle</li>
  </ol>
  </p>
  <p>
    The picking pattern is 2-3-(34)-3.
  </p>

  <b>3. Picking II - bridge</b>
  <p>
    I use a more complex finger-picking pattern for the bridge (I don't hide blurry eyes...) + the first bit of the
    chorus that follows. The rhythm is based off the rock strum rhythm shown above.
  </p>
  <pre>
  1+2+3+4+1+2+3+4+
  p   P     p P pp
  </pre>
  <p>
    The picking pattern is 2-(34) 2-(34)-2-2.
  </p>
</div>
{% endblock %}