{% extends "partials/base.html" %}

{% block content %}
<div class="container">
  <h1>Still Alive - Portal</h1>
  <p>
    This is the picking pattern I use to play Still Alive. See
    <a href="https://www.musicparsed.com/song/portal/still_alive" target="_blank">here</a> for chords/lyrics. See <a href="https://youtu.be/PG5WUC80nW8" target="_blank">Youtube</a> for my ukulele play-along video.
  </p>
  <p>
    I use 2 picking patterns in different sections of the song:
    <ol>
      <li>Picking I - verse</li>
      <li>Picking II - chorus</li>
    </ol>
  </p>
  <p>
    The finger-string assignment is:
    <ol>
      <li>G - thumb</li>
      <li>C - index</li>
      <li>E - middle</li>
      <li>A - ring</li>
    </ol>
  </p>
  <b>1. Picking I - verse</b>
  <p>
    In order to sound like the original, you will need a ukulele with a low G string.
  </p>
  <p>
    The picking pattern is 1-2-3-2 (thumb - index - middle - thumb). This is pretty fast, so here's some tips for faster chord transitions.
  </p>
  <p>
    Since you don't pick the A string, you can use a shortcut to make the D - Bm chord transition easier. To play the D chord, barre the entire 2nd fret with your index finger. This will give you the notes of a D major chord in the GCE strings. Then, to transition to Bm, all you have to do is press your ring finger down on the 4th fret of the G string. To transition back to D, release your ring finger from the 4th fret.
  </p>
  <p>
    We can also make the chord transition between Em and A7 easier. Play Em with your middle finger on the E string, pinky finger on the C string, and ring finger on the G string (443x). Then, to transition to A7, all you have to do is press your index finger on the 2nd fret of the G string and release your ring finger from the 4th fret of the G string.
  </p>
  <b>2. Picking II - chorus</b>
  <p>
    In the video, I wrote out the complete tab. It looks complicated, but if you focus on what the right hand is doing, you can break it down into 3 subcomponents.
    <ol>
      <li>(1234)-(234)</li>
      <li>(1234)-2-(34)</li>
      <li>(1234)-2-(34)-2</li>
    </ol>
  </p>
  <p>
    Practice each subcomponent separately. Once you've learned a subcomponent, you can try playing through the entire chorus with just one subcomponent e.g (1234)-(234). Then, you can work on learning how to switch between these different picking patterns.
  </p>
</div>
{% endblock %}