{% extends "partials/base.html" %} {% block title %}
<title>Learn Still Alive from Portal on ukulele | MusicParsed</title>
{% endblock %} {% block content %}
<div class="container textContainer">
  <h1 class="headingPrimary">Learn Still Alive from Portal on ukulele</h1>
  <h2 class="headingSecondary">Still Alive - Portal | Ukulele Play-Along</h2>
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/PG5WUC80nW8?si=-0cafob0gqsYJsRx"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
  <p>
    Start with an ukulele in standard tuning. I use an ukulele with a low G.
  </p>
  <p>
    This is the picking pattern I use to play Still Alive. Click
    <a
      href="https://www.musicparsed.com/song/portal/still_alive"
      target="_blank"
      >here</a
    >
    for a free chord chart.
  </p>
  <span>
    I use 2 picking patterns in different sections of the song:
  </span>
  <ol>
    <li>Picking I - verse</li>
    <li>Picking II - chorus</li>
  </ol>
  <span>
    The finger-string assignment is:
  </span>
  <ol>
    <li>G - thumb</li>
    <li>C - index</li>
    <li>E - middle</li>
    <li>A - ring</li>
  </ol>
  <b>1. Picking I - verse</b>
  <p>
    In order to sound like the original, you will need a ukulele with a low G
    string.
  </p>
  <p>
    The picking pattern is 1-2-3-2 (thumb - index - middle - thumb). This is
    pretty fast, so here's some tips for faster chord transitions.
  </p>
  <p>
    Since you don't pick the A string, you can use a shortcut to make the D - Bm
    chord transition easier. To play the D chord, barre the entire 2nd fret with
    your index finger. This will give you the notes of a D major chord in the
    GCE strings. Then, to transition to Bm, all you have to do is press your
    ring finger down on the 4th fret of the G string. To transition back to D,
    release your ring finger from the 4th fret.
  </p>
  <p>
    We can also make the chord transition between Em and A7 easier. Play Em with
    your middle finger on the E string, pinky finger on the C string, and ring
    finger on the G string (443x). Then, to transition to A7, all you have to do
    is press your index finger on the 2nd fret of the G string and release your
    ring finger from the 4th fret of the G string.
  </p>
  <b>2. Picking II - chorus</b>
  <span>
    In the video, I wrote out the complete tab. It looks complicated, but if you
    focus on what the right hand is doing, you can break it down into 3
    subcomponents.
  </span>
  <ol>
    <li>(1234)-(234)</li>
    <li>(1234)-2-(34)</li>
    <li>(1234)-2-(34)-2</li>
  </ol>
  <p>
    Practice each subcomponent separately. Once you've learned a subcomponent,
    you can try playing through the entire chorus with just one subcomponent e.g
    (1234)-(234). Then, you can work on learning how to switch between these
    different picking patterns.
  </p>
</div>
{% endblock %}
