{% extends "partials/base.html" %}

{% block title %}
<title>How to play That Would Be Enough from Hamilton on ukulele | Elaine Lin Music</title>
{% endblock %}

{% block content %}
<div class="container textContainer">
  <h1 class="headingPrimary">How to play That Would Be Enough from Hamilton on ukulele</h1>
  <p>
    This guide includes the strum patterns I use to play Alexander Hamilton
    from Hamilton. See
    <a href="https://www.musicparsed.com/song/hamilton/that_would_be_enough" target="_blank">here</a>
    for chords/lyrics. See
    <a href="https://youtu.be/93zfLTO9BGk" target="_blank">Youtube</a> for my
    ukulele play-along video.
  </p>
  <p>
    The finger-string assignment is:
  <ol>
    <li>G - thumb</li>
    <li>C - index</li>
    <li>E - middle</li>
    <li>A - ring</li>
  </ol>
  </p>
  <p>
    For the first section with Eliza and Hamilton, most of the section is single strums. The section where Eliza sings
    "I'd knew you fight...to be alive right now." with the chords Bm, D, G, A uses the picking pattern:
    (1234)-1-(234)-1-(234)-1-(234)-1
  </p>
  <p>
    For most of Eliza's section, the picking pattern I use is (1234)-2-(34)-2-(34)-2-(34)-2. When Eliza sings "When
    you decide to stay", on the word "stay" and the chord Bm, I switch to a strum pattern:
  </p>
  <pre>
  1+2+3+4+1+2+3+4+
  D  U U UD  U U U
  </pre>
</div>
{% endblock %}