{% extends "partials/base.html" %} {% block title %}
<title>
  Learn That Would Be Enough from Hamilton on ukulele | Elaine Lin Music
</title>
{% endblock %} {% block content %}
<div class="container textContainer">
  <h1 class="headingPrimary">Learn That Would Be Enough on ukulele</h1>
  <h2 class="headingSecondary">
    That Would Be Enough - Hamilton | Ukulele Play-Along
  </h2>
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/93zfLTO9BGk?si=pi4jkqXC5GHUkt8B"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
  <p>
    Start with an ukulele in standard tuning. I use an ukulele with a low G.
  </p>
  <p>
    This guide includes the strum patterns I use to play That Would Be Enough
    from Hamilton. Click
    <a
      href="https://www.musicparsed.com/song/hamilton/that_would_be_enough"
      target="_blank"
      >here</a
    >
    for a free chord chart.
  </p>
  <span>
    The finger-string assignment is:
  </span>
  <ol>
    <li>G - thumb</li>
    <li>C - index</li>
    <li>E - middle</li>
    <li>A - ring</li>
  </ol>
  <p>
    For the first section with Eliza and Hamilton, most of the section is single
    strums. The section where Eliza sings "I'd knew you fight...to be alive
    right now." with the chords Bm, D, G, A uses the picking pattern:
    (1234)-1-(234)-1-(234)-1-(234)-1
  </p>
  <p>
    For most of Eliza's section, the picking pattern I use is
    (1234)-2-(34)-2-(34)-2-(34)-2. When Eliza sings "When you decide to stay",
    on the word "stay" and the chord Bm, I switch to a strum pattern:
  </p>
  <pre>
  1+2+3+4+1+2+3+4+
  D  U U UD  U U U
  </pre>
</div>
{% endblock %}
