{% extends "partials/base.html" %}

{% block title %}
<title>Learn The Cure by Lady Gaga on ukulele | Elaine Lin Music</title>
{% endblock %}

{% block content %}
<div class="container textContainer">
  <h1 class="headingPrimary">Learn The Cure by Lady Gaga on ukulele</h1>
  <h2 class="headingSecondary">The Cure - Lady Gaga | Ukulele Play-Along</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/0iMepjJptIk?si=qvAFjixB6I-DRLrC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  <p>Start with an ukulele in standard tuning. I use an ukulele with a high G. Put a capo on the 1st fret.</p>
  <p>
    This is the strum pattern I use to play The Cure by Lady Gaga.
    Click
    <a href="https://www.musicparsed.com/song/lady_gaga/the_cure" target="_blank">here</a>
    for a free chord chart. 
  </p>
  <p>
    I use 4 strum patterns for different sections of the song.
  </p>
  <b>Verse</b>
  <pre>
  1 + 2 + 3 + 4 + 1 + 2 + 3 + 4 +
  Em    G         C     D
  D     D D       D     D D
  </pre>
  <b>Pre-Chorus</b>
  <pre>
  1 + 2 + 3 + 4 + 1 + 2 + 3 + 4 +
  D               Em
  DUx   D     x   DUx   D     x
  C               C     Em
  DUx   D     x   DUx   D     x
  D               Em
  DUx   D     x   DUx   D     x
  C               D
  DUx   DUx   DUDUD
  </pre>
  <b>Chorus</b>
  <pre>
  1 + 2 + 3 + 4 + 1 + 2 + 3 + 4 +
  Em7   C         Dadd4 G
  DUx   DUx   DUDUDUx   DUx   DUDU
  </pre>
  <b>Bridge</b>
  <pre>
  1 + 2 + 3 + 4 + 1 + 2 + 3 + 4 +
  Em    G         D     G
  D     U         D     U
  </pre>
</div>
{% endblock %}