{% extends "partials/base.html" %}

{% block title %}
<title>How to play The Cure by Lady Gaga on ukulele | Elaine Lin Music</title>
{% endblock %}

{% block content %}
<div class="container textContainer">
  <h1 class="headingPrimary">How to play The Cure by Lady Gaga on ukulele</h1>
  <p>
    This guide includes the strum patterns I use to play The Cure by Lady Gaga.
    See
    <a href="https://www.musicparsed.com/song/lady_gaga/the_cure" target="_blank">here</a>
    for chords/lyrics. See
    <a href="https://youtu.be/0iMepjJptIk" target="_blank">Youtube</a> for my
    ukulele play-along video.
  </p>
  <p>
    I use 4 strum patterns for different sections of the song.
  </p>
  <b>Verse</b>
  <pre>
  1 + 2 + 3 + 4 + 1 + 2 + 3 + 4 +
  Em    G         C     D
  D     D D       D     D D
  </pre>
  <b>Pre-Chorus</b>
  <pre>
  1 + 2 + 3 + 4 + 1 + 2 + 3 + 4 +
  D               Em
  DUx   D     x   DUx   D     x
  C               C     Em
  DUx   D     x   DUx   D     x
  D               Em
  DUx   D     x   DUx   D     x
  C               D
  DUx   DUx   DUDUD
  </pre>
  <b>Chorus</b>
  <pre>
  1 + 2 + 3 + 4 + 1 + 2 + 3 + 4 +
  Em7   C         Dadd4 G
  DUx   DUx   DUDUDUx   DUx   DUDU
  </pre>
  <b>Bridge</b>
  <pre>
  1 + 2 + 3 + 4 + 1 + 2 + 3 + 4 +
  Em    G         D     G
  D     U         D     U
  </pre>
</div>
{% endblock %}