{% extends "partials/base.html" %}

{% block title %}
<title>Play Want You Gone from Portal 2 on ukulele | Elaine Lin Music</title>
{% endblock %}

{% block content %}
<div class="container textContainer">
  <h1 class="headingPrimary">Play Want You Gone from Portal 2 on ukulele</h1>
  <p>
    This is the picking/strum pattern I use to play Want You Gone. See
    <a href="https://www.musicparsed.com/song/portal_2/want_you_gone?transpose=1" target="_blank">here</a> for
    chords/lyrics. See <a href="https://youtu.be/sUD5DTdx35Y" target="_blank">Youtube</a> for my ukulele play-along
    video.
  </p>
  <p>
    I use 2 picking/strum patterns in different sections of the song:
  <ol>
    <li>Picking - verse</li>
    <li>Rock strum - verse, chorus</li>
  </ol>
  </p>
  <p>
    The finger-string assignment is:
  <ol>
    <li>G - thumb</li>
    <li>C - index</li>
    <li>E - middle</li>
  </ol>
  </p>
  <b>1. Picking - verse</b>
  <p>
    In order to sound like the original, you will need a ukulele with a low G string.
  </p>
  <p>
    The picking pattern here is different for each of the chords: Bbsus#4, Ebm. Since you don't play the A string, you
    don't need to hold down a fret there.
  </p>
  <pre>
    Bbsus#4   Ebm
  A|------------------
  E|--1-1------------2-
  C|-------4----3-3---
  G|-3-3--3----3-3--3--
  </pre>
  <p>
    For Bbsus#4, hold down the chord shape 341x. The picking pattern is thumb - middle - thumb - middle, thumb -
    index.
  </p>
  <p>
    For Ebm, hold down the chord shape 332x. The picking pattern is thumb - index, thumb - index, thumb - middle.
  </p>
  <p>
    In each verse, there are 2 points where you don't finish the entire Ebm picking pattern. In the Ebm => F
    transition, pick the first 4 notes of the Ebm picking pattern, and then switch to a strum for the F chord.
    Similarly in the Ebm => D, G (transition from verse to chorus), pick the first 4 notes, and then switch to a strum
    for the D and G chords. The strum pattern used is the rock strum, which I'll describe in the next section.
  </p>
  <b>2. Rock strum - verse, chorus</b>
  <p>
    The strum pattern used for the verse and chorus is the rock strum. A rock strum is characterized by an emphasis on
    the third beat. The verse and most of the chorus uses the basic rock strum.
  </p>
  <pre>
  1 2 3 4
  d   D du
  </pre>
  <p>
    For the Bm => C transition in the chorus, I play an extended rock strum. You can substitute the regular rock strum
    here. The extended rock strum I play is:
  </p>
  <pre>
  Bm     C
  1+2+3+4+1+2+3+4+
  d   D du ud D du
  </pre>
</div>
{% endblock %}