{% extends "partials/base.html" %} {% block content %}
<div class="container textContainer">
  <h1 class="headingPrimary">You'll Be Back - Hamilton</h1>
  <p>
    This guide includes the strum patterns I use to play You'll Be Back from
    Hamilton. See
    <a href="https://www.musicparsed.com/song/hamilton/youll_be_back?transpose=3" target="_blank">here</a>
    for chords/lyrics. See
    <a href="https://youtu.be/vvPHn1_TI0o" target="_blank">Youtube</a> for my
    ukulele play-along video. There are 3 strum patterns used in the song.
  </p>
  <b>1. Single strums</b>
  <p>
    Strum once per chord. If you're just learning the song, you can try playing
    single strums throughout the whole song.
  </p>
  <b>2. Island strum variant</b>
  <p>
    A typical island strum is D DU UDU. The variant I play is an island strum
    without the down strum on beat 2.
  </p>
  <pre>
  1+2+3+4+
  D  U UDU
  </pre>
  <b>3. Pump strum</b>
  <p>
    This is down strums on every beat. I also add in left handed muting (using
    my pinky to mute the sound) for a more boppy, staccato effect.
  </p>
  <pre>
  1+2+3+4+
  D D D D
  </pre>
  <b>Playing Notes</b>
  <p>
    There's a handful of split measures where you'll switch chords within the
    measure (vs. after 4 beats).
  </p>
  <p>
    In the chorus + verses, [Cm7 F] is a split measure, and I give each chord 2
    beats.
  </p>
  <pre>
  1 + 2 + 3 + 4 +
  Cm7     F
  </pre>
  <p>
    In the bridge (da dat da part), [Cm7b5 F] is a split measure, and I split
    the measure
  </p>
  <pre>
  1 + 2 + 3 + 4 +
  Cm7b5       F
  </pre>
</div>
{% endblock %}