{% extends "partials/base.html" %}

{% block title %}
<title>Learn You'll Be Back from Hamilton on ukulele | MusicParsed</title>
{% endblock %}

{% block content %}
<div class="container textContainer">
  <h1 class="headingPrimary">Learn You'll Be Back from Hamilton on ukulele</h1>
  <h2 class="headingSecondary">You'll Be Back - Hamilton | Ukulele Tutorial</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/LVc9RcATkyU?si=q2loEJFYxWuLN80Z" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  <p>Start with an ukulele in standard tuning. I use an ukulele with a low G.</p>
  <p>
    This guide includes the strum patterns I use to play You'll Be Back from
    Hamilton. Click
    <a href="https://www.musicparsed.com/song/hamilton/youll_be_back?transpose=3" target="_blank">here</a>
    for a free chord chart. When you're ready to play-along, click <a href="https://www.youtube.com/watch?v=vvPHn1_TI0o" target="_blank">here</a> for my corresponding ukulele play-along video.
  </p>
  <p>I use 3 strum patterns to play You'll be Back.
  </p>
  <b>1. Single strums</b>
  <p>
    Strum once per chord. If you're just learning the song, you can try playing
    single strums throughout the whole song.
  </p>
  <b>2. Island strum variant</b>
  <p>
    A typical island strum is D DU UDU. The variant I play is an island strum
    without the down strum on beat 2.
  </p>
  <pre>
  1+2+3+4+
  D  U UDU
  </pre>
  <b>3. Pump strum</b>
  <p>
    This is down strums on every beat. I also add in left handed muting (using
    my pinky to mute the sound) for a more boppy, staccato effect.
  </p>
  <pre>
  1+2+3+4+
  D D D D
  </pre>
  <b>Playing Notes</b>
  <p>
    There's a handful of split measures where you'll switch chords within the
    measure (vs. after 4 beats).
  </p>
  <p>
    In the chorus + verses, [Cm7 F] is a split measure, and I give each chord 2
    beats.
  </p>
  <pre>
  1 + 2 + 3 + 4 +
  Cm7     F
  </pre>
  <p>
    In the bridge (da dat da part), [Cm7b5 F] is a split measure, and I split
    the measure
  </p>
  <pre>
  1 + 2 + 3 + 4 +
  Cm7b5       F
  </pre>
</div>
{% endblock %}