pre{
    display: block;
    font-family: monospace;
    padding: 0px;
    margin: 0px;
    font-size: 13px;
    line-height: none;
    color: none;
    word-break: none;
    word-wrap: none;
    background-color: white;
    border: none;
    border-radius: 0px;
}
/*motion detection css*/

figure {
    display: inline-block;
    margin: 10px;
    vertical-align: top;
}

figcaption {
    text-align: left;
    font-weight: bold;
}

video, canvas{
    width: 0px;
    height: 0px;
}