pre {
    display: block;
    font-family: monospace;
    padding: 0px;
    margin: 0px;
    font-size: 13px;
    line-height: none;
    color: none;
    word-break: none;
    word-wrap: none;
    background-color: white;
    border: none;
    border-radius: 0px;
}

.lyrics {
    cursor: pointer;
}

.lyrics.current {
    background-color: #ffffcc;
}

.chords {
    float: left;
}

.chords.current {
    background-color: #C1F2F7;
}

div.clear {
    clear: both;
}

/* motion detection debug */
video, canvas {
    width: 480px;
    height: 360px;
    background-color: #999;
}