{% extends "partials/base.html" %}

{% block content %}
<div class="container">
  <h1>Before Playing</h1>
  <p>
    You don't need any additional gear before you start playing ukulele. Just make sure you hold the ukulele correctly and tune the instrument. Holding the ukulele correctly makes it easier to play and prevents unnecessary arm strain. You can see how I hold my ukulele in <a href="https://www.youtube.com/watch?v=CCBu3CxXadQ" target="_blank">this video</a>.
  </p>

  <p>Tuning the ukulele ensures that the chords are accurate. Each string of the ukulele is supposed to produce a certain note. Generally, soprano and concert ukuleles are tuned high G, C, E, A, tenor ukuleles are tuned low G, C, E, A, and baritone ukuleles are tuned D, G, B, E. If you don’t trust your ear yet, I recommend a tuner where you play the ukulele string and the tuner visually shows you how high/low you are.</p>
  <ul>
    <li>I like the free phone app <a href="https://play.google.com/store/apps/details?id=com.stonekick.tuner&hl=en" target="_blank">Pitched Tuner</a>.</li>
    <li>I also have a clip on tuner which works by detecting vibrations through the ukulele body. You can buy one separately for ~$10. Mine came with the <a href="https://www.amazon.com/Donner-Zebrawood-Ukulele-Soprano-DUS-2/dp/B072NZVKC4" target="_blank">Donner ukulele set</a>.</li>
  </ul>
  <p>For tuning by ear, here are resources for different instruments:
    <ul>
      <li>Ukulele: <a href="https://ukutuner.com/" target="_blank">UkuTuner</a></li>
      <li>Guitalele: <a href="https://www.youtube.com/watch?v=xq8ZBlUsYcw" target="_blank">Youtube video</a></li>
    </ul>
  <p>
    Sometimes, brand new ukuleles have trouble staying in tune. You will also have this problem when you change strings. This is normal. The strings take a while to settle. As you play more, the ukulele will keep its tuning better.
  </p>
</div>
{% endblock %}