{% extends "partials/base.html" %}

{% block title %}
<title>Beginner ukulele songs | Elaine Lin Music</title>
{% endblock %}

{% block content %}
<div class="container textContainer">
  <h1 class="headingPrimary">Beginner ukulele songs</h1>
  <h2 class="headingSecondary">Easy songs</h2>
  <p>
    You don't need to know many chords to play songs on ukulele. Here are some easy song recommmendations.
  </p>
  <p>
    Once you learn the <a href="/guides/beginner_ukulele_chords" target="_blank" rel="noopener noreferrer">beginner
      ukulele chords (Am, C, F, G)</a>, you can play a ton of four chord songs. I made <a
      href="/guides/four_chord_songs" target="_blank">giant list of four chord songs ordered by chord progression</a>.
    You may have to transpose the songs.
  </p>
  <p>
    Here are some other song recommendations that don't use many chords.
  <ul>
    <li><a href="/song/vance_joy/riptide" target="_blank" rel="noopener noreferrer">Riptide</a> - Most of the song is
      Am, G, C.</li>
    <li><a href="/song/john_denver/leaving_on_a_jet_plane" target="_blank" rel="noopener noreferrer">Leaving on a Jet
        Plane</a> - Only uses three chords G, C, D. I like <a href="https://www.youtube.com/watch?v=LKybhyg1a4A"
        target="_blank">Cynthia Lin's tutorial</a>.
    </li>
    <li><a href="/song/taylor_swift/you_belong_with_me" target="_blank" rel="noopener noreferrer">You Belong with
        Me</a> - Only uses G, D, Am, C.</li>
    <li><a href="/song/the_beatles/yellow_submarine" target="_blank" rel="noopener noreferrer">Yellow Submarine</a> -
      Only uses Am, D, G.</li>
  </ul>
  </p>

  <h2 class="headingSecondary">Finding songs</h2>
  <p>
    You don't have to start with 4 chord songs. You can play most songs on the ukulele, even <a
      href="/song/dragonforce/through_the_fire_and_flames">Through the Fire and Flames</a>. If there's a song you
    like, try Googling the song chords, and give it a shot! The first song I learned on ukulele was <a
      href="/song/death_cab_for_cutie/i_will_follow_you_into_the_dark" target="_blank" rel="noopener noreferrer">I
      Will Follow You Into the Dark</a>. I played along to <a href="https://www.youtube.com/watch?v=GFb8bYqyk0w"
      target="_blank">this cover</a> many, many times before making <a
      href="https://www.youtube.com/watch?v=20dC5sKmLYA" target="_blank">my very first cover</a>. Don't be
    intimidated
    by hard chords. Transposing the song often simplifies chords significantly, and you'll get it with practice.
    Here
    are more <a href="/guides/song_chords">tips on understanding song chords</a>.
  </p>
  <p>
    I recommend keeping a song collection of songs you play. I started out using a bookmarks folder of song chords
    links. When this got unwieldy, I moved to using Google docs. Eventually, I moved my song collection to <a href="/"
      target="_blank" rel="noopener noreferrer">MusicParsed</a> to solve the following problems with other
    chord
    sites: interruptive scrolling, inaccurate chords, and annoying pop-ups.
  </p>
</div>
{% endblock %}