{% extends 'partials/base.html' %}

{% block content %}
<div class="container">
  <h1>Beginner Ukulele Songs</h1> 

  <p>
    Once you learn the <a href="/guides/beginner_ukulele_chords" target="_blank">beginner ukulele chords (Am, C, F, G)</a>, you can play a ton of four chord songs. I made <a href="/guides/four_chord_songs">giant list of four chord songs ordered by chord progression</a>.
  </p>
  <p>
    Here are some other song recommendations that don't use many chords.
    <ul>
      <li><a href="/song/vance_joy/riptide" target="_blank">Riptide</a> - Most of the song is Am, G, C.</li>
      <li><a href="/song/john_denver/leaving_on_a_jet_plane" target="_blank">Leaving on a Jet Plane</a> - Only uses three chords G, C, D. I like <a href="https://www.youtube.com/watch?v=LKybhyg1a4A" target="_blank">Cynthia Lin's tutorial</a>.
      </li>
      <li><a href="/song/taylor_swift/you_belong_with_me" target="_blank">You Belong with Me</a> - Only uses G, D, Am, C.</li>
      <li><a href="/song/the_beatles/yellow_submarine" target="_blank">Yellow Submarine</a> - Only uses Am, D, G.</li>
    </ul>
  </p>

    /guides/song_chords
    don't be intimidated by hard chords, skip them or transpose

    
  </p>
I Will Follow You Into the Dark (<a href="https://www.youtube.com/watch?v=20dC5sKmLYA" target="_blank">cover</a>, <a href="/song/death_cab_for_cutie/i_will_follow_you_into_the_dark">chords</a>)
  find song chords that you want to learn. play whatever you want. should be enjoyable process.
  Google title. 

  MusicParsed has a collection, and I'm happy to add more songs.
  <p>Here’s my <a href="" target="_blank">song collection</a>.</p>
</div>
{% endblock %}