{% extends "partials/base.html" %}

{% block title %}
<title>Beginner strum patterns | Elaine Lin Music</title>
{% endblock %}

{% block content %}
<div class="container textContainer">
  <h1 class="headingPrimary">Beginner strum patterns</h1>
  <p><a href="/guides/song_chords" target="_blank" rel="noopener noreferrer">Song chords</a> indicate when to
    transition between chords, but usually don’t specify how to play the chords on the right hand. I recommend using a
    strum pattern.</p>
  <p>
    A <strong>strum pattern</strong> is a regularly repeating sequence that you play independently of the singing. The
    notation is D (down strum) and U (up strum). I strum down with the nail on my index finger and up with the fleshy
    part of the finger. The spacing indicates what beats you strum on.
  </p>
  <p>
    The most important step in learning beginner strum patterns is developing a sense of rhythm. Learn how to count,
    and start simple. For example, let's look at Viva la Vida by Coldplay (<a href="/song/coldplay/viva_la_vida"
      target="_blank" rel="noopener noreferrer">chords</a>, <a href="https://www.youtube.com/watch?v=LspJkFSXtb8"
      target="_blank">cover</a>). The chords are F, G, C, Am, and the chords transition every 4 beats. Count in your
    head "1 2 3 4 1 2 3 4". The simplest strum pattern you can play is to strum down (D) once for every new chord.
    Other simple strum patterns are strumming every 2 beats and strumming every beat.
  </p>
  <p>
    <img src="/static/images/beginner_strum_1.png" height="100" />
  </p>
  <p>
    You can also strum up (U). Count in your head "1+2+3+4+1+2+3+4+". For the following beginner strum patterns, down
    strums happen on the down beats (indicated by the numbers 1,2,3,4), and up strums happen on the off beats
    (indicated by +). A simple strumming pattern with up strums is to regularly alternate DU. Other more complex strum
    patterns are D DU and D DU UDU (island strum). I play island strum in <a
      href="https://www.youtube.com/watch?v=LspJkFSXtb8" target="_blank" rel="noopener noreferrer">my cover of Viva la
      Vida</a>. It took me a year before I could reliably play island strum and sing at the same time, so don't be
    discouraged.
  </p>
  <p>
    <img src="/static/images/beginner_strum_2.png" height="100" />
  </p>
</div>
{% endblock %}