{% extends 'partials/base.html' %}

{% block content %}
<div class="container">
  <h2>Song recommendations</h2> 
  <p>
    /guides/song_chords
    don't be intimidated by hard chords, skip them or transpose

    
  </p>

  find song chords that you want to learn. play whatever you want. should be enjoyable process.
  Google title. MusicParsed has a collection, and I'm happy to add more songs.
  <p>Here’s my <a href="" target="_blank">song collection</a>.</p>
  <p>(link here: /guides/beginner_ukulele_chords) As I mentioned before, you can play most pop songs with just Am, C, F, G. 

    Here’s a <a href="" target="_blank">list of four chord songs</a> ordered by chord progression.
  <ul>
    <li><a href="" target="_blank">Riptide</a> - Am, G, C</li>
    leaving on a jet plane, Cynthia Lin's tutorial http://localhost:5000/song/john_denver/leaving_on_a_jet_plane
    http://localhost:5000/song/the_beatles/yellow_submarine
    http://localhost:5000/song/taylor_swift/you_belong_with_me
  </ul>
  </li>
  </ol>
  </li>
  </ol>
</div>
{% endblock %}