{% extends "partials/base.html" %}

{% block content %}
<div class="container textContainer">
  <h1 class="headingPrimary">Beginner Ukulele Chords</h1>
  <p>Much of learning ukulele is learning how to play chords. A <strong>chord</strong> is several notes played at
    once. Each string of the ukulele is a separate note, and strumming plays 4 notes at the same time.</p>

  <p>To play a chord, hold down frets with your left hand and strum all 4 strings with your right hand. Holding down
    frets shortens strings, produces different notes, and allows you to play different chords. (Side note: You can
    play the Am7 chord without holding down any frets since the ukulele is tuned G, C, E, A, and the notes in the Am7
    chords are G, C, E, A.)</p>
  <p>I recommend starting with these 4 beginner ukulele chords: Am, C, F, G. This allows you to play most pop songs!
    Here’s more info on the <a href="/static/understanding_pop_songs_presentation.pdf" target="_blank"
      rel="noopener noreferrer">basic music theory for understanding pop songs</a>. Here are the chord diagrams:</p>

  <img src="/static/images/beginner_ukulele_chords.png" class="center-block" />
  <br />
  <br />

  <p>Reading ukulele chord diagrams is easy. The thick black line represents the top of the ukulele, and the dots are
    where you put your fingers on the fretboard.</p>
  <p>Here’s how I play the chords:</p>
  <ul>
    <li>Am: Middle finger on the second fret of the G string. Using middle finger here makes the Am - F transition
      easy.</li>
    <li>C: Ring finger on the third fret of the A string.</li>
    <li>F: Middle finger on the second fret of the G string, index finger on the first fret of the E string.</li>
    <li>G: Index finger on C string, ring finger on E string, middle finger on A string.</li>
  </ul>
  <p>These chords are easy on the ukulele because of how it’s tuned. If you’re starting with a baritone ukulele or a
    guitar, I recommend starting with these 4 chords instead: Em, G, C, D.</p>
</div>
{% endblock %}