{% extends "partials/base.html" %} {% block content %}
<div class="container textContainer">
  <div class="headingPrimary">How to create a digital songbook</div>

  <p>
    This is a detailed guide on how to create and edit a digital songbook. If
    you play music with a group, it's useful to have all songs you play in one
    digital songbook. Folks can download the digital version on their tablets or
    phones or print out the songbook for a physical copy.
  </p>

  <p>
    For example, my ukulele group, the Aloha Uke Squad, has a big book of songs
    with ~80 songs that we play. This has 2 main benefits:
  </p>
  <ol>
    <li>
      Keeping music up-to-date. Instead of having to make sure many different
      song files are up-to-date, folks can just download the latest version of
      the big book. This helps ensure everybody has the same music version.
    </li>
    <li>
      Making music easy to find. Instead of searching through many files, folks
      can just look for a song within the big book.
    </li>
  </ol>

  <p>
    First, I'm going to go over the technology you need for a digital songbook.
    Then, I'll talk about how you can use the technology to create a basic
    songbook from scratch or to edit an existing songbook. I'll also cover more
    advanced techniques for improving songbook navigation.
  </p>

  <p>Here's an outline if you want to skip around:</p>
  <ul>
    <li>
      <a href="#digital-songbook-technology">Digital Songbook Technology</a>
      <ul>
        <li>
          <a href="#file-formats-and-extensions">File formats and extensions</a>
        </li>
        <li>
          <a href="#digital-songbook-tools">Tools for a digital songbook</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#digital-songbook-how-to">How-To Steps for a Digital Songbook</a>
      <ul>
        <li>
          <a href="#creating-digital-songbook">Creating a songbook from scratch</a>
        </li>
        <li>
          <a href="#editing-digital-songbook">Editing an existing songbook</a>
        </li>
        <li>
          <a href="#improving-songbook-navigation">Improving songbook navigation</a>
          <ul>
            <li><a href="#adding-page-numbers">Adding page numbers</a></li>
            <li>
              <a href="#adobe-table-of-contents">Maintaining a table of contents</a>
            </li>
            <li>
              <a href="#adobe-quick-links">Adding quick links to/from different sections</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="#conclusion">Conclusion</a></li>
  </ul>

  <div class="headingSecondary" id="digital-songbook-technology">Digital Songbook Technology
  </div>
  <p>
    I'll start by explaining file format and extensions and then explain some of
    the tools you'll need.
  </p>

  <div class="headingSecondary" id="file-formats-and-extensions">File formats and extensions</div>

  <p>
    According to
    <a href="https://www.computerhope.com/jargon/f/file-format.htm" target="_blank">Computer Hope</a>,
    a <b>file format</b> is the structure of a file that tells a program how to
    display its contents. For example, you see the PNG and JPG formats used for
    images and the PDF format used for PDF files. You can tell the file format
    by looking at the <b>file extension</b>, a group of letters occurring after
    a period in a file name. For instance, a file `party.png` is a PNG file and
    `Big Book.pdf` is a PDF file.
  </p>
  <p>
    I would recommend creating your digital songbook in the PDF file format. PDF
    files look the same no matter what device you used to view them. It's also
    easy to find tools to create and edit PDF files.
  </p>
  <div class="headingSecondary" id="digital-songbook-tools">Tools for a digital songbook</div>
  <p>
    In short, you will need a PDF editor and a word editor. The reason you need
    both is that it's a lot easier to make large-scale formatting changes in a
    word editor than in a PDF editor. This section is an overview of some common
    tasks you'll need to do, and I'll go over specifically how to use these
    tools in the next section.
  </p>

  <p>You will need:</p>
  <ol>
    <li>
      A PDF editor. I use Adobe Acrobat and have a paid subscription. Some
      features I mention may not be available in the free version. You can look
      up web work-arounds (e.g. Google how to add pages to PDF) or other
      alternatives to Acrobat. Here are some common tasks you'll need to do in
      the PDF editor:
      <ul>
        <li>
          Add/remove pages from the PDF. This is useful if you're adding new
          songs or replacing the table of contents.
        </li>
        <li>
          Edit text on existing pages. This is useful if you need to make a
          minor tweak to a song.
        </li>
        <li>
          Adding quick links to/from song sections. This is nice-to-have so you
          can jump to/from different sections of the file.
        </li>
      </ul>
    </li>
    <li>
      A word editor. I use Google Docs, which is free. Here are some common
      tasks you'll need to do in the word editor:

      <ul>
        <li>
          Format song charts. Google Docs is useful for making sure all of a
          song's chords and lyrics are aligned. It's also useful for making
          larger tweaks to a song because it's easy to move around different
          sections.
        </li>
        <li>
          Create a table of contents. As of October 2020, Adobe Acrobat does not
          have a feature to add a table of contents. To get around this, I make
          a table of contents in Google Docs and then add it to the PDF.
        </li>
      </ul>
    </li>
  </ol>

  <div class="headingSecondary" id="digital-songbook-how-to">How-To Steps for a Digital Songbook</div>
  <p>
    Now, I'll dive into exactly how to do particular steps when making a digital
    songbook. I use Adobe Acrobat and Google Docs, so the following instructions
    are specifically for those tools. However, the general steps are the same
    regardless of which tools you use.
  </p>

  <p>I'll talk about:</p>
  <ol>
    <li>Creating a songbook from scratch</li>
    <li>Editing an existing songbook</li>
    <li>Improving songbook navigation</li>
  </ol>

  <div class="headingSecondary" id="creating-digital-songbook">Creating a songbook from scratch</div>
  <p>
    Suppose that you want to create a digital songbook from scratch. How do you
    combine a bunch of different song files into one file?
  </p>

  <p>
    First, get PDF files for all songs you want to add to the song book. To keep
    things organized, add all songs to one folder and make sure each song's file
    name is the song title.
  </p>

  <p>
    Song sheets can be in many different file formats. You'll need to convert
    each song to a PDF format so you can combine them later in the PDF editor.
    Here's how to handle some common song formats:
  </p>

  <ul>
    <li>
      .pdf: If a song you want to add is already in a PDF file format, no
      further action is needed.
    </li>
    <li>
      .txt, .doc, .pages, etc.: For most other file formats, you should be able
      to open them in your word editor and then convert them to a PDF. I suggest
      opening files in your word editor first so you can double-check the song
      formatting.
      <ul>
        <li>
          To open a song in a word editor, you can either a) copy/paste a song
          to the word editor or b) directly open the file. For example, if you
          have a file song.txt, you can copy/paste that into an empty Google
          Doc. Alternatively, if that file is on your computer, in Google Docs,
          click File > Open > Upload, and add the file there.
        </li>
        <li>
          After the file is in your word editor, check that the formatting looks
          okay, and make adjustments as needed. Then, most word editors have
          functionality to output files as PDF. In Google Docs, click File >
          Download > PDF Document (.pdf).
        </li>
      </ul>
    </li>
  </ul>

  <p>
    Second, combine all of the individual song PDF files into one big file. You
    can do this via an online tool, but it's probably easier to use Adobe
    Acrobat. Open the folder with all the song files, and make sure the files
    are in order alphabetically by name. This will make it easy to add songs in
    alphabetical order to the PDF.
  </p>

  <p>
    Start by opening a song PDF in Acrobat. To keep things organized, it's
    easiest to start with the song that's first alphabetically. Find the
    <b>Organize Pages</b> feature in Acrobat. I find this by a) hovering over
    the colorful icons in the right sidebar til I find it or b) on Mac, typing
    “Organize Pages” in the helpbar search.
  </p>
  <p>
    Once you're in the Organize Pages feature, click Insert > From File… in the
    top toolbar. Then, select all of the other song files in the folder and
    insert them. When you're finished, double-click any page to return to the
    normal view, and scroll through the whole PDF to make sure everything looks
    okay (Are the pages in the right order? Are there any missing pages?). You
    can go back to the Organize Pages feature to correct any issues.
  </p>
  <p>
    If you don't need a Table of Contents, then you're done! You can save your
    digital songbook and send it out to your group. Note that if your file is
    too big, you won't be able to attach it in an email. To get around this, I
    upload the file to Google Drive, set sharing permissions so anyone with a
    link can access (triple dots > Share > Change to anyone with the link), and
    then email out the Google Drive link.
  </p>

  <div class="headingSecondary" id="editing-digital-songbook">Editing an existing songbook</div>
  <p>
    If you need to add new songs, see above for how to use the Organize Pages
    feature.
  </p>
  <p>
    If you need to make a change to an existing song, what to do depends on the
    scope of the change. If you're making a small tweak, you can use the PDF
    editor. In Acrobat, find the <b>Edit PDF</b> feature, and make whatever
    changes you need. If you're making a big change, it's useful to make the
    changes in the word editor. This gives you more flexibility when adjusting
    spacing or song sections. When you're done, output the file as PDF, and use
    the Organize Pages feature to replace the old song page(s).
  </p>
  <p>
    After making any edits, I update the title page of the digital songbook to
    include when the book was last modified. That way, it's easy to see what
    version of the songbook you have.
  </p>

  <div class="headingSecondary" id="improving-songbook-navigation">Improving songbook navigation</div>
  <p>There's 3 main ways to improve digital songbook navigation:</p>

  <ol>
    <li>Adding page numbers</li>
    <li>Maintaining a table of contents</li>
    <li>Adding quick links to/from different sections</li>
  </ol>
  <p>
    These steps can be cumbersome. I share my procedure for making these
    changes.
  </p>
  <div class="headingTertiary" id="adding-page-numbers">Adding page numbers</div>
  <p>
    Here's how to add page numbers via Adobe Acrobat. Even if you don't have a
    table of contents, this helps with navigation because once you find a song
    on, say, page 6, you can tell other folks in your group to go to that page.
  </p>
  <p>
    First, go to the Edit PDF feature. In the top bar, click Header & Footer >
    Add… or Update… depending on if there's already a Header/Footer. Click
    Insert page number, and move <<1>> to wherever you want your page number to
      be. For example, to get page number in the right header, put <<1>> to the
        box Right Header Text. You can also adjust the margin - I have the page
        number set to 0.4 inches from the top right corner.
  </p>
  <img src="/static/images/adobe_acrobat_header_footer_page_number.png" class="center-block" />

  <div class="headingTertiary" id="adobe-table-of-contents">Maintaining a table of contents</div>
  <p>
    Maintaining a table of contents is useful for a digital songbook because you
    can jump to different pages to find songs. Unfortunately, as of October
    2020, Adobe Acrobat does not have a feature to add a table of contents. To
    get around this, I make a table of contents in Google Docs and then add it
    to the PDF via the Organize Pages feature. For example, here's
    <a href="https://docs.google.com/document/d/1zJto3DLmBHVzEIL-rlhai2E74LfK9oYFsVWUSD5OFfw/edit?usp=sharing"
      target="_blank">the Aloha Uke Squad big book table of contents</a>.
  </p>

  <p>There are 2 repetitive tasks when maintaining a table of contents:</p>

  <ol>
    <li>Making sure page numbers are right-aligned and easy to read</li>
    <li>Making sure page numbers are up-to-date</li>
  </ol>

  <p><b>Making sure page numbers are right-aligned and easy to read</b></p>
  <p>
    Google Sheets is useful here - see
    <a href="https://docs.google.com/spreadsheets/d/1igLAUQIgMZFQ2aLFhDuPIcQ_XE2R5X7Trx0a_Rx4l1M/edit#gid=2133961286"
      target="_blank">the Formatted Data sheet</a>. You can do all the formatting in Google Sheets and then
    copy/paste
    the
    table to your word editor. Here's how I formatted the table:
  </p>

  <ul>
    <li>I set up the column width and font size in Google Sheets.</li>
    <li>
      I set up alternating colors in Google Sheets (Format > Alternating colors)
      so it's easy to read different rows.
    </li>
    <li>
      I copy/paste the Formatted Data sheet into the word editor. This gives you
      a table.
    </li>
    <li>
      I right click the table, select Table properties, and set Table border to
      0 pt.
    </li>
    <li>
      I vertically-align text within each table row. To do so, I set line
      spacing to 1.5. I also set the Custom spacing > Paragraph spacing (pts) >
      Before to half the line height. For example, for line spacing 1.5 and font
      size 14 pts, the total line height is 1.5 * 14 = 21, so I set the Before
      spacing to 10.5.
    </li>
  </ul>

  <p><b>Making sure page numbers are up-to-date</b></p>
  <p>
    How do you keep all of the page numbers up-to-date? For example, if you add
    a new song “All of Me”, you need to update the page numbers for all
    following songs.
  </p>
  <p>
    A word of warning: make sure you know how many pages your table of contents
    is before you start adding page numbers. That way, you know the page numbers
    will be accurate when you add the table of contents to the front of your
    digital songbook.
  </p>
  <p>
    I'm a software engineer, so I set up
    <a href="https://docs.google.com/spreadsheets/d/1igLAUQIgMZFQ2aLFhDuPIcQ_XE2R5X7Trx0a_Rx4l1M/edit#gid=2133961286"
      target="_blank">a Google sheet and wrote a script to help with this process</a>. This is tech-heavy and
    requires
    familiarity in Google Sheets and running
    Python code to read files. The alternative is to manually edit the formatted
    data in Google Sheets. Note that it's still easier to use Google Sheets here
    because if you add a new row, it'll automatically update the alternate row
    coloring.
  </p>

  <div class="headingTertiary" id="adobe-quick-links">Adding quick links to/from different sections</div>

  <p>
    Here's how to add quick links to/from different sections in Adobe Acrobat.
    For example, I configured each song in the big book so that tapping on the
    title takes you back to the first page of the PDF. As a warning, this is tricky to maintain.
  </p>

  <p>
    The only link action that works across different devices is `Execute a menu item > Go to a page in this
    document`.
    I tried using the link actions `View > Page Navigation > First Page` or `Run Javascript > this.pageNum =
    page`.
    These actions work in Adobe Acrobat, but not when you open the PDF on your tablet.
  </p>
  <p>
    If you're curious, see <a href="https://github.com/elainewlin/pdf-table-of-contents" target="_blank">Github</a>
    for more information on running Javascript in a PDF. I wrote code to automatically create links that run
    Javascript `this.pageNum = page`. The script creates links with the right spacing, but the link action
    does not
    work across devices since devices cannot execute Javascript. To set the right link actions, I ended up
    paying
    somebody $10 to manually set link actions via <a href="https://www.upwork.com/" target="_blank">Upwork</a>.
  </p>
  <p>
    The action `Go to a page in this document` maintains a reference to the page. For example, suppose you set
    a link
    to go to page 10 with song title "As Long As You Love Me", and you add a page before page 10. The link
    will still
    go to the page with song title "As Long As You Love Me", not the new page 10 of the PDF document.
  </p>
  <p>
    This has a few implications:
  </p>
  <ul>
    <li>
      If you replace a song page of the PDF, you need to update the link to the song in the table of contents
      and
      create a link from the song title back to the beginning.
    </li>
    <li>
      Do not replace the first page of the table of contents. If you replace the page, that will break all
      links from
      songs back to the first page. Instead, edit the table of contents within Adobe Acrobat. This looks
      better if you
      use a standard font for the first page, such as Arial.
    </li>
    <li>
      Be careful when replacing the table of contents. First, add in the new version. Then, select all links
      from the
      old page of the table of contents and paste them to the new page. Fix all the links in the new table of
      contents
      pages before deleting the old table of contents.
    </li>
  </ul>
  <p>
    Here's how to add a link
    in Adobe Acrobat. First, go to the Edit PDF feature, and click Link >
    Add/Edit Web or Document Link in the top bar. Click and drag to set where
    the link is.
  </p>
  <img src="/static/images/adobe_acrobat_create_link.png" class="center-block" />
  <p>
    This is the first dialog you see. Click Next. Another dialog will pop up.
    Click Set Link.
  </p>

  <p>
    Double-click on the link area to open up the Link Properties dialog. Select the action `Go to a page in
    this
    document`, and set the page. This is the only link action that works outside of Adobe Acrobat.
  </p>
  <img src="/static/images/adobe_acrobat_create_link_set_link_properties.png" class="center-block" />

  <p>
    This is what the final dialog will look like. Click OK to save. You can now
    click on the link to test that it works.
  </p>

  <div class="headingSecondary" id="conclusion">Conclusion</div>
  <p>
    Creating a digital songbook can be tricky, but helps your group play music
    together. It definitely took me a while to understand how to use Adobe
    Acrobat and how to set up all these tools. When in doubt, remember that
    Google is your friend. I don't remember where to find a lot of Acrobat
    features and found myself looking up e.g. “adobe add page numbers” and
    “adobe edit PDF feature”. I hope that this guide helps you create or edit a
    digital songbook. If you have any questions, feel free to email me at
    <a href="mailto:musicparsed@gmail.com">musicparsed@gmail.com</a>
  </p>
</div>
{% endblock %}