{% extends 'partials/base.html' %} 

{% block content %}
<div class="container">
  <!-- TO DO refactor into a JSON file + Mustache template -->
  <h1>Four Chord Songs</h1>
  <p>
    Have you ever wondered why all pop songs sound the same? Many pop songs are four chord songs. A <strong>four chord song</strong> is musically simple, and most of accompaniment is just four chords. Here’s more info on the <a href="/static/understanding-pop-songs-presentation.pdf" target="_blank">basic music theory for understanding pop songs</a>. 
  </p>
  <p>
    Roman numerals indicate the relationships between the chords in any key. The most common 4 chords are (I IV V vi). Below is a list of four chord songs ordered by chord progression. As a sidenote, music has no clear-cut rule that says pop songs can <em>only</em> use these 4 chords. Music is pretty flexible. The list below is more of a statistical analysis.
  </p>
  <p>
    I recommend first learning the <a href="/guides/beginner_ukulele_chords" target="_blank">beginner ukulele chords Am, C, F, G</a>. This is because in the key of C major, the I chord is C, the IV chord is F, the V chord is G, and the vi chord is Am. For example, the entire song <a href="/song/coldplay/viva_la_vida">Viva la Vida</a></li> is F, G, C, Am (IV V I vi). You may have to transpose the songs to C major. For example, <a href="/song/bastille/pompeii">Pompeii</a> transpose +5 is F, C, Am, G (IV I vi V). Here is <a href="/guides/song_chords">more information on transposing songs and understanding song chords</a>.
  </p>
  <p>I IV vi V</p>
  <ul>
    <li><a href="/song/twenty_one_pilots/house_of_gold">House of Gold</a> - verse</li>
    <li><a href="/song/the_allamerican_rejects/dirty_little_secret">Dirty Little Secret</a> - chorus</li>
    <li><a href="/song/walk_the_moon/shut_up_and_dance">Shut Up and Dance</a></li>
  </ul>
  <p>I V vi IV</p>
  <ul>
    <li><a href="/song/jesse_mccartney/beautiful_soul">Beautiful Soul</a></li>
    <li><a href="/song/jason_mraz/im_yours">I'm Yours</a></li>
    <li><a href="/song/lady_gaga/paparazzi">Paparazzi</a> - chorus</li>
    <li><a href="/song/journey/hey_soul_sister">Hey Soul Sister</a> - verse</li>
    <li><a href="/song/adele/someone_like_you">Someone Like You</a></li>
    <li><a href="/song/david_guetta/titanium">Titanium</a> - verse</li>
    <li><a href="/song/metric/gimme_sympathy">Gimme Sympathy</a> - verse</li>
    <li><a href="/song/red_hot_chili_peppers/under_the_bridge">Under the Bridge</a> - verse</li>
    <li><a href="/song/sara_bareilles/i_choose_you">I Choose You</a>, irregular rhythm</li>
    <li><a href="/song/taylor_swift/teardrops_on_my_guitar">Teardrops on my Guitar</a> - chorus</li>
    <li><a href="/song/the_allamerican_rejects/dirty_little_secret">Dirty Little Secret</a> - verse</li>
  </ul>
  <p>I vi IV V</p>
  <ul>
    <li><a href="/song/my_little_pony/shine_like_rainbows">Shine Like Rainbows</a></li>
    <li><a href="/song/paramore/hate_to_see_your_heart_break">Hate to See Your Heart Break</a> - chorus</li>
  </ul>
  <p>I vi V IV</p>
  <ul>
    <li><a href="/song/the_fray/you_found_me">You Found Me</a> - verse</li>
  </ul>
  <p>IV I V vi</p>
  <ul>
    <li><a href="/song/demi_lovato/heart_attack">Heart Attack</a> - verse</li>
  </ul>
  <p>IV I vi V</p>
  <ul>
    <li><a href="/song/bastille/pompeii">Pompeii</a></li>
    <li><a href="/song/capital_cities/safe_and_sound">Safe and Sound</a></li>
    <li><a href="/song/demi_lovato/give_your_heart_a_break">Give your Heart a Break</a></li>
    <li><a href="/song/maroon_5/payphone">Payphone</a></li>
    <li><a href="/song/carly_rae_jepsen/boy_problems">Boy Problems</a></li>
    <li><a href="/song/of_monsters_and_men/i_of_the_storm">I of the Storm</a> - chorus</li>
    <li><a href="/song/paramore/thats_what_you_get">That's What You Get</a> - chorus</li>
  </ul>
  <p>IV V I vi</p>
  <ul>
    <li><a href="/song/coldplay/viva_la_vida">Viva la Vida</a></li>
    <li><a href="/song/sara_bareilles/gravity">Gravity</a></li>
    <li><a href="/song/magic/rude">Rude</a></li>
  </ul>
  <p>IV V vi I</p>
  <ul>
    <li><a href="/song/dnce/toothbrush">Toothbrush</a></li>
  </ul>
  <p>vi I IV V</p>
  <ul>
    <li><a href="/song/daughter/landfill">Landfill</a> - verse</li>
    <li><a href="/song/lady_gaga/the_cure">The Cure</a> - verse</li>
    <li><a href="/song/linkin_park/leave_out_all_the_rest">Leave out all the Rest</a> - verse, chorus</li>
  </ul>
  <p>vi I V IV</p>
  <ul>
    <li><a href="/song/adele/hello">Hello</a> - verse</li>
    <li><a href="/song/adele/set_fire_to_the_rain">Set Fire to the Rain</a> - verse</li>
  </ul>
  <p>vi IV I V</p>
  <ul>
    <li><a href="/song/imagine_dragons/bleeding_out">Bleeding Out</a></li>
    <li><a href="/song/halsey/colors">Colors</a></li>
    <li><a href="/song/eagle_eye_cherry/save_tonight">Save Tonight</a></li>
    <li><a href="/song/the_offspring/youre_gonna_go_far_kid">You're Gonna Go Far Kid</a></li>
    <li><a href="/song/onerepublic/apologize">Apologize</a></li>
    <li><a href="/song/rihanna/love_the_way_you_lie">Love The Way You Lie</a></li>
    <li><a href="/song/lady_gaga/poker_face">Poker Face</a></li>
    <li><a href="/song/nelly_furtado/all_good_things">All Good Things</a></li>
    <li><a href="/song/katy_perry/et">ET</a></li>
    <li><a href="/song/888/critical_mistakes">Critical Mistakes</a></li>
    <li><a href="/song/a_great_big_world/say_something">Say Something</a></li>
    <li><a href="/song/demi_lovato/cool_for_the_summer">Cool for the Summer</a></li>
    <li><a href="/song/adele/hello">Hello</a> - chorus</li>
    <li><a href="/song/lana_del_rey/serial_killer">Serial Killer</a></li>
    <li><a href="/song/maroon_5/never_gonna_leave_this_bed">Never Gonna Leave This Bed</a> - verse</li>
    <li><a href="/song/metric/gimme_sympathy">Gimme Sympathy</a> - chorus</li>
    <li><a href="/song/nelly/just_a_dream">Just a Dream</a></li>
    <li><a href="/song/sia/cheap_thrills">Cheap Thrills</a></li>
    <li><a href="/song/the_fray/you_found_me">You Found Me</a> - chorus</li>
    <li><a href="/song/of_monsters_and_men/little_talks">Little Talks</a></li>
    <li><a href="/song/wild_child/crazy_bird">Crazy Bird</a> - verse</li>
  </ul>
  <p>vi IV V I</p>
  <ul>
    <li><a href="/song/jay_chou/qi_li_xiang">Qi Li Xiang</a></li>
    <li><a href="/song/lady_gaga/the_cure">The Cure</a> - chorus</li>
  </ul>
  <p>vi V I IV</p>
  <ul>
    <li><a href="/song/shawn_mendes/stitches">Stitches</a> - verse</li>
  </ul>
  <p>vi V IV I</p>
  <ul>
    <li><a href="/song/melanie_martinez/mrs_potato_head">Mrs Potato Head</a></li>
  </ul>
</div>
{% endblock %}