{% extends 'partials/base.html' %}
<!--
2. first chords
-->
{% block content %}
<div class="container">
  <h1>Beginner Ukulele Chords</h1>
  
- how to read ukulele chord diagrams
- recommendations for beginner ukulele chords
  <h2>Learn chords</h2>
  <p>Much of learning ukulele is learning how to play chords. A <strong>chord</strong> is several notes played at once. Each string is a separate note.</p>

  <p>To play a chord, hold down frets with your left hand and strum all four strings with your right hand. Holding down frets shortens strings, produces different notes, and allows you to play different chords. (Side note: You can play the Am7 chord without holding down any frets since the ukulele is tuned G, C, E, A, and the notes in the Am7 chords are G, C, E, A.)</p>
  <p>I recommend starting with these 4 chords: Am, C, F, G. This allows you to play most pop songs! Here’s more info on the <a href="/static/understanding-pop-songs-presentation.pdf" target="_blank">basic music theory for understanding pop songs</a>. Here are the chord diagrams:</p>

  <img src="{{ url_for('static', filename='images/beginner-ukulele-chords.png') }}" class="center-block" />
  <br />

  <p>The thick black line represents the top of the ukulele, and the dots are where you put your fingers on the fretboard.</p>
  <p>Here’s how I play the chords:</p>
  <ul>
    <li>Am: Middle finger on the second fret of the G string. Using middle finger here makes the Am - F transition easy.</li>
    <li>C: Ring finger on the third fret of the A string.</li>
    <li>F: Middle finger on the second fret of the G string, index finger on the first fret of the E string.</li>
    <li>G: Index finger on C string, ring finger on E string, middle finger on A string.</li>
  </ul>
  <p>These chords are easy on the ukulele because of how it’s tuned. If you’re starting with a baritone ukulele or a guitar, I recommend starting with these 4 chords instead: Em, G, C, D.</p>
  <h3></h3>
 learn chords
 find song chords that you want to learn
  1. understanding song chords
  2. song recommendations
 figure out a strum pattern
        <h2></h2>
        <h2>Playing + singing</h2>
        <p>Playing and singing at the same time requires a lot of practice and coordination.</p>
        <p>Make sure you’re playing and singing in the same key.</p>
        <ul>
          <li>This requires finding the starting note for singing the song. Eventually, you’ll be able to do so by ear - after playing a few chords in the song, you’ll just “know” what to sing.</li>
        </ul>
      </li>
      <li>However, if you can’t do this yet, try matching a recording.
        <p>Here are some tips:</p>
        <ul>
          <li>Practice just playing. Get comfortable transitioning between chords with your left hand and strumming with your right hand.</li>
        </ul>
        <ul>
          <li>Play along with a Youtube video. You can slow it down to 0.5 speed.</li>
        </ul>
        <ul>
          <li><a href="" target="_blank">Cynthia Lin</a> has lots of ukulele tutorials.</li>
        </ul>
      </li>
      <li>I post some covers and song chords.
        <ul>
          <li>Sing only a couple of words of the song while playing.</li>
        </ul>
        <h2>Song recommendations</h2>
        <p>Here’s my <a href="" target="_blank">song collection</a>.</p>
        <p>As I mentioned before, you can play most pop songs with just Am, C, F, G. Here’s a <a href="" target="_blank">list of four chord songs</a> ordered by chord progression. You might have to transpose the songs.</p>
        <ul>
          <li><a href="" target="_blank">Riptide</a> - Am, G, C</li>
        </ul>
      </li>
      <li><a href="" target="_blank">Viva la Vida</a> - F, G, C, Am</li>
      <li>
        <a href="" target="_blank">Pompeii</a> +5 - F, C, Am, G
        <p>Side note: The Roman numerals indicate the relationships between the chords. In the key of C major, the I chord is C, the IV chord is F, the V chord is G, and the vi chord is Am. The entire song “Viva la Vida” is F, G, C, Am (IV V I vi).</p>
      </li>
    </ol>
  </li>
  </ol>
</div>
{% endblock %}