{% extends 'partials/base.html' %}

{% block content %}
<div class="container">
  <h1>Getting Started with Ukulele</h1>
  <h2>Fundamentals</h2>
  <ul>
    <li>
      <a href="/guides/buy_ukulele" target="_blank">Buying your first ukulele</a>
    </li>
    <li>
      <a href="/guides/before_playing" target="_blank">Before playing - tuning and holding a ukulele</a>
      </li>
  </ul>
  <h2>Learning chords</h2>
  <ul>
    <li>
      <a href="/guides/beginner_ukulele_chords" target="_blank">Beginner ukulele chords</a>
    </li>
    <li>
      <a href="/guides/beginner_strum_patterns" target="_blank">Beginner strum patterns</a>
    </li>
  </ul>
  <h2>Learning songs</h2>
  <ul>
    <li>
      <a href="/guides/playing_and_singing" target="_blank">Tips on playing and singing at the same time</a>
    </li>
    <li>
      <a href="/guides/song_chords" target="_blank">Understanding song chords</a>
    </li>
    <li>
      <a href="/guides/beginner_ukulele_songs" target="_blank">Beginner ukulele songs</a>
    </li>
    <li>
      <a href="/guides/four_chord_songs" target="_blank">Four chord songs</a>
    </li>
  </ul>
</div>
{% endblock %}