{% extends 'partials/base.html' %}

{% block content %}
<div class="container">
  <h1>Getting Started with Ukulele</h1>
  <h2><a href="/guides/buy_ukulele" target="_blank">Buying your first ukulele</a></h2>
  <h2><a href="/guides/before_playing" target="_blank">Before playing - tuning and holding a ukulele</h2>
  <h2><a href="/guides/beginner_ukulele_chords" target="_blank">Beginner ukulele chords</a></h2>
  <h2><a href="/guides/song_chords" target="_blank">Understanding song chords</a></h2>
  <h2><a href="/guides/beginner_strum_patterns" target="_blank">Beginner strum patterns</a></h2>
  <h2><a href="/guides/playing_and_singing" target="_blank">Tips on playing and singing at the same time</a></h2>
  <!-- <h2><a href="/guides/beginner_ukulele_songs" target="_blank">Beginner ukulele songs</a></h2> -->
  <!-- <h2><a href="/guides/four_chord_songs" target="_blank">Four chord songs</a></h2> -->
</div>
{% endblock %}