{% extends "partials/base.html" %}

{% block content %}
<div class="container">
  <h1>Getting Started</h1>
  <h2>Ukulele Fundamentals</h2>
  <ul>
    <li>
      <a href="/guides/why_ukulele" target="_blank" rel="noopener noreferrer">Why play ukulele?</a>
    </li>
    <li>
      <a href="/guides/buy_ukulele" target="_blank" rel="noopener noreferrer">Buying your first ukulele</a>
    </li>
    <li>
      <a href="/guides/before_playing" target="_blank" rel="noopener noreferrer">Before playing - tuning and holding a ukulele</a>
      </li>
  </ul>
  <h2>Learning chords</h2>
  <ul>
    <li>
      <a href="/guides/beginner_ukulele_chords" target="_blank" rel="noopener noreferrer">Beginner ukulele chords</a>
    </li>
    <li>
      <a href="/guides/beginner_strum_patterns" target="_blank" rel="noopener noreferrer">Beginner strum patterns</a>
    </li>
  </ul>
  <h2>Learning songs</h2>
  <ul>
    <li>
      <a href="/guides/song_chords" target="_blank" rel="noopener noreferrer">Understanding song chords</a>
    </li>
    <li>
      <a href="/guides/beginner_ukulele_songs" target="_blank" rel="noopener noreferrer">Beginner ukulele songs</a>
    </li>
    <li>
      <a href="/guides/four_chord_songs" target="_blank" rel="noopener noreferrer">Four chord songs</a>
    </li>
  </ul>
  <h2>Singing</h2>
  <ul>
    <li>
      <a href="/guides/playing_and_singing" target="_blank" rel="noopener noreferrer">Tips on playing and singing at the same time</a>
    </li>
    <li>
      <a href="/guides/singing_for_beginners" target="_blank" rel="noopener noreferrer">How to improve at singing for beginners</a>
    </li>
  </ul>
  <h2>Songs</h2>
  <p>I make ukulele play-alongs and tutorials on <a href="https://www.youtube.com/channel/UCtscOI_XyD8WxEgWyYtAXaQ" target="_blank">Youtube</a>. This section has additional information on how to play particular songs.</p>
  <ul>
    <li>
      <a href="/guides/songs/midnight_sky" target="_blank" rel="noopener noreferrer">Midnight Sky - Miley Cyrus</a>
    </li>
    <li>
      <a href="/guides/songs/still_alive" target="_blank" rel="noopener noreferrer">Still Alive - Portal</a>
    </li>
    <li>
      <a href="/guides/songs/want_you_gone" target="_blank" rel="noopener noreferrer">Want You Gone - Portal 2</a>
    </li>
  </ul>
</div>
{% endblock %}