{% extends "partials/base.html" %}

{% block title %}
<title>How to self-study music theory | Elaine Lin Music</title>
{% endblock %}

{% block content %}
<div class="container textContainer">
  <h1 class="headingPrimary">How to self-study music theory</h1>

  <p>
    <a href="https://ocw.mit.edu/index.htm" target="_blank">MIT OCW</a> has
    online resources from MIT courses, such as a course syllabus, readings, and
    assignments. I’ve been following the course
    <a href="https://ocw.mit.edu/courses/music-and-theater-arts/21m-301-harmony-and-counterpoint-i-spring-2005/index.htm"
      target="_blank">21M.301 Harmony and Counterpoint</a>
    to self-study music theory. I’m about halfway through, and I’ve learned a
    lot so far.
  </p>

  <p>
    This piece is on why I think it’s important to learn music theory, how to
    learn music theory, and how to approach self-studying a course. I reference
    music theory as an example, but I hope you can think about this piece in the
    context of any topic you want to learn.
  </p>

  <div class="headingSecondary">Why learn music theory?</div>
  <p>
    You can enjoy listening to music and learn to play music without knowing any
    music theory. However, learning music theory helps you understand music at a
    deeper level. You can learn to see a song’s structure and see similar
    patterns between songs. You gain a vocabulary for describing songs, which
    helps you communicate with other music lovers. Learning music theory has
    helped me love music more and learn music faster.
  </p>

  <p>
    When learning music theory, it’s worth thinking about the theoretical
    concepts and concrete notation in music theory separately. Think of music
    notation as a tool to help explain theoretical concepts. For written Western
    music, the notation looks like a bunch of dots, lines, and squiggles. This
    can be confusing and overwhelming if you haven’t learned to read music
    before.
  </p>

  <p>
    You don’t need to learn to read music to get started learning music theory.
    Instead of starting with notation, first learn the basic theoretical
    concepts (e.g. what is a pitch, note, chord?). Then, at a high-level, you
    can think of notation as a way to precisely represent different notes
    through time. You can learn the details of exactly which pitches and
    durations are on the page later.
  </p>

  <div class="headingSecondary">How to learn music theory?</div>
  <p>
    There’s many resources for learning music theory. If you Google “learn music
    theory”, you will get a lot of options. I think the best choices are online
    courses. Online courses provide a structured learning framework so lessons
    can build off previous knowledge. They also include assignments, which are
    good for hands-on practice. On the other hand, if you’re watching Youtube
    videos on music theory, there’s often no particular learning order and no
    opportunities to practice applying concepts you’ve learned.
  </p>

  <p>
    What course to choose depends on your preferred methods of learning and your
    musical background. There are several interactive online learning platforms
    (e.g. Coursera) that offer classes in music theory. If you learn well
    through watching lecture videos, this could be a good option. However, I
    prefer reading versus listening as a learning method and find the up-sell
    reminders on these platforms distracting. This led me to prefer MIT OCW,
    which provides a reading schedule and has no distractions.
  </p>

  <p>
    If you’re choosing an online course on music theory, make sure it’s at the
    appropriate level. The course name is often not that helpful in determining
    a course’s difficulty. Instead, take a peek at the first lesson of a class.
    For instance, 21M.301 Harmony and Counterpoint is not a good course for
    beginners because it assumes proficiency in reading music and playing music
    - the first reading includes piano sheet music. If you’re looking for a MIT
    OCW course with fewer prerequisites, see
    <a href="https://ocw.mit.edu/courses/music-and-theater-arts/21m-051-fundamentals-of-music-spring-2007/"
      target="_blank">21M.051 Fundamentals of Music</a>
    or
    <a href="https://ocw.mit.edu/courses/music-and-theater-arts/21m-065-introduction-to-musical-composition-spring-2014/"
      target="_blank">21M.065 Introduction to Musical Composition</a>. For me, 21M.301 was the right choice because
    I
    had the prerequisites and
    wanted to learn more about how music fits together.
  </p>

  <div class="headingSecondary">How to approach self-study?</div>

  <p>
    Once you’ve picked an appropriate course, here’s a framework for how to
    approach self-study:
  </p>
  <ol>
    <li>Review all required materials.</li>
    <li>Create a schedule for yourself.</li>
    <li>Understand the scheduled tasks.</li>
    <li>Follow your schedule.</li>
  </ol>

  <div class="headingTertiary">Review all required materials</div>

  <p>
    Learning a course is easier if you have all of the required materials. Read
    the course syllabus to understand what materials are explicitly required
    (e.g. textbook) as well as any materials that are implicitly required. Then,
    acquire the materials.
  </p>

  <p>
    For example, here are all the required materials from the
    <a href="https://ocw.mit.edu/courses/music-and-theater-arts/21m-301-harmony-and-counterpoint-i-spring-2005/syllabus/"
      target="_blank">21M.301 syllabus</a>:
  </p>
  <ul>
    <li>
      <i>Harmony and Voice Leading</i> textbook. The syllabus recommends the 3rd
      edition, but honestly, which textbook edition you have doesn’t matter that
      much. However, textbook organization may be different, so make sure you
      know what content you’re supposed to read.
    </li>
    <li>
      <a href="https://smile.amazon.com/Standard-Wirebound-Manuscript-Paper-Green/dp/0881884995/"
        target="_blank">Manuscript paper</a>. The course requires you to compose music, and manuscript paper helps
      you write music.
    </li>
    <li>Pen + pencil.</li>
    <li>
      Piano. The syllabus mentions a piano lab. The textbook and assignment both
      contain many sheet music examples that are helpful to play on piano. I
      suppose you could get around this by transcribing music in Musescore and
      playing that back, but it’s a lot easier to play examples yourself on a
      piano.
    </li>
    <li>Printer (optional)</li>
    <ul>
      <li>
        It can be helpful to print out the assignments for a course. Many
        21M.301 assignments provide sheet music and a vocal line and ask you to
        fill in the other vocal lines. Since I don’t have a printer, a
        work-around I use is to copy down the exercises in pen and then complete
        them in pencil.
      </li>
    </ul>
  </ul>

  <div class="headingTertiary">Create a schedule for yourself</div>

  <p>
    Self-studying a course is a big project, so I recommend creating a schedule
    for yourself. That way, you can pace yourself as you go through the
    materials. A schedule also helps you break down the problem. If your goal is
    to read through a textbook, it’s less daunting to approach it by reading a
    chapter every week.
  </p>

  <p>
    For example, To create a schedule for 21M.301, I started by looking at
    <a href="https://ocw.mit.edu/courses/music-and-theater-arts/21m-301-harmony-and-counterpoint-i-spring-2005/calendar/"
      target="_blank">the course calendar</a>. I copy-pasted this into Google Sheets and added two columns to
    track
    target completion date and completed on date. For reference,
    <a href="https://docs.google.com/spreadsheets/d/1f5Q8LxytKcp_rqyYh8K0roOaRDIfDwxta0mV0p5idcs/edit#gid=0"
      target="_blank">here</a>
    is the schedule I’m using. I also made
    <a href="https://docs.google.com/spreadsheets/d/1f5Q8LxytKcp_rqyYh8K0roOaRDIfDwxta0mV0p5idcs/edit#gid=493196808"
      target="_blank">a revised schedule for 21M.301</a>
    based on my experience.
  </p>

  <p>When adding target completion dates, consider:</p>
  <ul>
    <li>How much time do you have each week to study the course?</li>
    <li>When do you want to finish studying the course?</li>
  </ul>
  <p>
    For example, I targeted learning the course in about 3 months and set a goal
    of going through 2 rows a week.
  </p>

  <div class="headingTertiary">Understand the scheduled tasks</div>

  <p>
    Before you start following the schedule, take some time to understand what
    tasks are involved in the context of self-study. What is the primary way
    you’ll be learning the material? At a high-level, classes consist of several
    learning resources: lectures, readings, assignments, exams, and projects.
  </p>

  <p>
    If you’re self-studying, you may have limited resources. Depending on the
    class, you may not have lectures to watch or feedback on assignments, exams,
    and projects. Be prepared to work around these issues. If you don’t have
    lectures, you can teach yourself by carefully reading the textbook. If you
    don’t have feedback, you can go over completed assignments and do a
    self-review.
  </p>

  <div class="headingTertiary">Follow your schedule</div>

  <p>
    Now all that’s left to do is to follow your schedule. However, even looking
    at the tasks for one week can be daunting. To approach this, you can further
    break down the problem. For example, here’s a few techniques for reading a
    textbook:
  </p>
  <ul>
    <li>
      Break down the goal into even smaller chunks. For example, if the goal is
      to read a 20 page chapter, you can approach it section by section, page by
      page.
    </li>
    <li>
      Commit yourself for small time intervals. Aim to focus on a task for just
      5 minutes. This helps you gain momentum for a longer study session.
    </li>
    <li>
      Skim first and then read thoroughly. Reading through a section quickly
      helps you understand the high-level structure of concepts. Then, you can
      do a second read for taking notes and learning the details.
    </li>
  </ul>

  <p>
    As you go through the schedule, don’t worry too much if you temporarily fall
    behind. Think about why you fell behind and adjust accordingly:
  </p>
  <ul>
    <li>
      Did you set your goals too ambitiously? If you don’t have as much time to
      commit to self-study as you thought, take some time to revise your
      schedule so it’s more realistic. This will help you learn the course at a
      sustainable rate.
    </li>
    <li>
      Did something else come up? Unexpected situations can throw off a
      schedule, and you can adjust the schedule as needed.
    </li>
    <li>
      Are you prioritizing self-study correctly relative to your other
      commitments? The other angle to consider is if you can make more time for
      self-study in your life. For instance, can you make time by waking up 30
      minutes earlier? Note that you’ll have to find a balance here between
      working hard and pacing yourself.
    </li>
  </ul>

  <div class="headingSecondary">Conclusion</div>

  <p>
    I hope that this piece provides a useful framework to think about learning.
    The core idea comes from the book
    <i><a href="https://smile.amazon.com/Start-Why-Leaders-Inspire-Everyone/dp/1591846447" target="_blank">Start
        with
        Why</a></i>:
  </p>
  <ol>
    <li>
      Start with why. Why do you want to learn a topic? It’s useful to write
      down your reasons here. I want to learn music theory to be a better
      musician. Maybe you want to learn Spanish for an upcoming trip to Spain.
    </li>
    <li>
      Think about how. How can you learn a topic? This is where you can find
      what resources to use and figure out a high-level plan.
    </li>
    <li>
      Execute the what. This is the nitty-gritty of exactly what you need to do.
      For self-studying a course, this includes reading the textbook and
      completing assignments.
    </li>
  </ol>
  <p>
    Once you learn how to learn, you have a good foundation for acquiring any
    new skill you’d like.
  </p>
</div>
{% endblock %}