{% extends "partials/base.html" %}

{% block title %}
<title>Singing for beginners | Elaine Lin Music</title>
{% endblock %}

{% block content %}
<div class="container textContainer">
  <h1 class="headingPrimary">Singing for beginners</h1>
  <p>I summarize how to improve at singing for beginners in a <a href="https://www.youtube.com/watch?v=-AZe6ZlFcww"
      target="_blank" rel="noopener noreferrer">5 minute Youtube video</a>: practice precision of pitch.</p>
  <p>A year ago, I decided I wanted to get better at singing, but I had no clue where to start and no formal vocal
    background. My first vocal lesson taught me a lot. Like any other skill, the short answer for how to improve is
    deliberate practice. In this guide, I’ll share concepts and practice tips that explain how to improve at singing
    for beginners.</p>
  <p>What do I mean by deliberate practice? When you practice singing, keep the following concepts in mind:</p>
  <ol>
    <li><a href="#precision">Precision</a></li>
    <li><a href="#tone">Tone</a></li>
    <li><a href="#air">Air</li></a>
  </ol>
  <p>To understand these 3 concepts, I find it useful to think of the body as a musical instrument. Sound resonates
    through your body when you sing similarly to how sound resonates through a piano body when you press a key. In
    general, I’ll often compare singing to playing piano, but you don’t need to know anything about playing piano or
    music theory to improve at singing. </p>
  <p>If you're a beginner, I recommend focusing on precision of pitch first. In other words, sing along with a
    reference and make sure you're hitting the right notes. This is why a roomful of people singing "Happy Birthday"
    doesn't sound great - people start on different notes and don't hit the right notes in the song. If you're new to
    music theory, I explain what a note is in a <a href="https://www.youtube.com/watch?v=eOnbL7J0umM" target="_blank"
      rel="noopener noreferrer">2 minute Youtube video</a>.</p>
  <h2 class="headingSecondary" id="precision">Precision
  </h2>
  <p>Both singing and pressing a key on a piano produce a note. Each note has a <strong>pitch</strong> (how high/low
    the note is) and duration (how long the note is). When you want to produce a specific pitch on a piano, it’s as
    easy as pressing the key. Producing a specific pitch when singing is more difficult. </p>
  <p>Improving precision of pitch will vastly improve your singing because the sound will be clearer and more melodic.
    If you don’t have much musical background, it can be difficult to evaluate pitch by ear. You might only be able to
    tell whether the pitch sounds good (song recordings) or bad (drunk karaoke). Singing games, such as Rock Band or
    Guitar Hero, are a good place to start because they evalute pitch for you. The top section shows a graph of pitch
    vs. time, and you can visualize the relative changes in pitch.</p>
  <p>You can also use the app <a href="https://www.singsharpapp.com/">Sing Sharp</a>, a gamified training program for
    practicing singing.</p>
  <img src="/static/images/rockband_vocal_pitch_vs_time_graph.png" class="center-block" />
  <p>If you can evaluate pitch by ear, you should record your singing. Playing back the recording allows you to drill
    sections that sound sloppy. Watch out for the following hard-to-sing sections:</p>
  <ul>
    <li>high notes </li>
    <li>large jumps in pitch</li>
    <li>vocal runs (many notes in quick succession)</li>
  </ul>
  <p>After you have identified problem sections, you should practice very small chunks of notes from the section and
    focus on precision of pitch. </p>
  <ul>
    <li>If a particular note is difficult, sing that one note repeatedly. Once you get the note down, sing 2 notes:
      that note and the note immediately before. </li>
    <li>For vocal runs, sing the notes slowly until they’re all perfect and then gradually speed up the section. </li>
  </ul>
  <p>I’ll explain how to actually manipulate your body to sing precisely in the section on air.</p>
  <p>A piano helps a lot with practice because you can compare sung notes to played notes. You don’t need to know how
    to play piano to make this comparison though piano knowledge makes things much easier. </p>
  <p>I often transcribe pitches for songs using <a href="https://musescore.org/en" target="_blank"
      rel="noopener noreferrer">Musescore software</a>. For example, I’m learning how to play and sing <a
      href="http://www.musicparsed.com/song/the_beatles/blackbird" target="_blank">Blackbird</a>, and here’s the <a
      href="https://drive.google.com/open?id=1DFPj69zjbS-nh2oFXm8xgeq0ZJQikpkx" target="_blank">vocal part</a>
    corresponding to <a href="https://www.youtube.com/watch?v=R90RzqGitKA" target="_blank">Cynthia Lin’s cover</a>.
    The durations are completely inaccurate, but if you click on the starting note and press the right arrow on your
    keyboard, you can play through the song one note at a time. I found this especially useful for the chorus
    (Blackbird fly…), which has many high notes, large jumps in pitch, and vocal runs.</p>
  <h2 class="headingSecondary" id="tone">Tone </h2>
  <p>Next, I’ll talk about tone, which is the unique quality of your voice. Many adjectives for describing tone are
    confusing. I don’t know what a <i>strident</i><strong> </strong>tone means, let alone how to produce it.</p>
  <p> </p>
  <p>I’ll just compare breathy vs. nasal tone. You can produce either breathy or nasal tone by controlling where sound
    resonates on your face. For breathy tone, the sound vibrates more in the back of your throat. For nasal tone, the
    sound vibrates more by your nose - you can put your hand on your nose to feel the vibrations.</p>
  <p>At my first vocal lesson, I received feedback that my tone was too breathy and soft. This is common among
    beginners who are shy about their singing abilities. However, breathy tone isn’t always worse. It depends on the
    context of the song, and you can control your tone with practice.</p>
  <p>It’s useful to know what breathy and nasal tone sound like, so I recorded several <a
      href="https://soundcloud.com/elaine-lin-877786422/sets/vocal-tone-comparisons" target="_blank"
      rel="noopener noreferrer">vocal tone comparisons</a> where I intentionally exaggerate the differences. I
    recommend listening to The Sun (Too Nasal) because that’s what I sounded like when I first started. Note how my
    pitch is much less precise and my tone is much rougher.</p>
  <h2 class="headingSecondary" id="air">Air</h2>
  <p>Finally, I’ll talk about air, which you use to produce sound. Learning to breathe properly (through your
    diaphragm) is important so you have plenty of air for producing sound. Figuring out how to do this is difficult
    because you can’t (hopefully) see your lungs and diaphragm. There’s many different metaphors and visualizations
    for describing the process - I like to imagine air flowing into my body and filling up my stomach like it’s
    inflating a balloon.</p>
  <p>Here's an exercise for practicing how to breathe from your diaphragm: Lie down on your back, place one hand on
    your stomach, and place the other hand on your chest. Breathe normally, and pay attention to your hands. If the
    hand on your stomach is being lifted, you’re breathing with your diaphragm. Practice breathing so you lift the
    hand on your stomach and keep the other hand still.</p>
  <p>A common application where you need plenty of air is for singing high notes precisely. A common mistake is to
    tense up and scrunch your face in preparation for a high note, but this reduces your air intake. Relaxing makes
    the note easier to sing. To increase air intake, you can reproduce a yawning sensation, the feeling of openness in
    the back of your throat just before you yawn. This raises your palate to create more space.</p>
  <h2 class="headingSecondary">Conclusion</h2>
  <p>The fun part about singing is that you can improve at singing by practicing whatever you what. You don’t have to
    drill scales! I like to practice different songs for different moods, and I’ve found singing to be incredibily
    therapeutic. Accurately reproducing the pitch and lyrics of a song help me understand the artist’s emotions, which
    in turn helps me understand and express my own emotions.</p>
  <p>These concepts and practice tips have helped me significantly improve at singing in the past year. For
    comparison, here’s <a href="https://www.youtube.com/watch?v=20dC5sKmLYA" target="_blank"
      rel="noopener noreferrer">my first ever ukulele cover of I Will Follow You into the Dark</a>, and here are <a
      href="https://musescore.org/en" target="_blank">more recent videos from my channel</a>. You have to start
    somewhere, and I know you’ll get better over time. </p>
  <p>For Youtube tutorials from a professional voice coach, I highly recommend <a
      href="https://www.youtube.com/madameunreality">Felicia Ricci</a>.
</div>
{% endblock %}