{% extends 'partials/base.html' %} 

{% block content %}
<div class="container">
  <h1>Understanding ukulele song chords</h1> What are song chords? Chords accompany singing.
  <h3>Weird chords</h3>
  <p>You can add notes to basic chords to make them more complex. This results in chord names such as Cadd9 or Cm7. The song will still sound okay if you ignore the additional complexity. Make sure to pay attention to whether the chord is major or minor. For example, you can play C instead of Cadd9 and Cm instead of Cm7.</p>
  <p>You might also see a / in the chord name such as G/B. Just ignore the note after the slash. It’s the bass note.</p>
  <h3>Transposing</h3>
  <p>When you look up song chords, you’ll often see a transpose feature. To <strong>transpose</strong> means to play in a different key. This makes a song higher or lower to sing and changes the chords.</p>
  <p>Here are some common use cases for transposing:</p>
  <ul>
    <li>If a song is out of your vocal range, transposing a song makes it easier to sing.</li>
  </ul>
  </li>
  <li>If the chords are too hard on the ukulele, transposing a song makes it easier to play.</li>
  <li>If you want to play along to a recording, you might have to transpose to get the right key.
  <h3>Capo</h3>
  <p>You might also see “CAPO 1”. A <strong>capo</strong> is a device you clamp onto your ukulele to shorten all of the strings. The number indicates which fret you should put the capo on.</p>
  <p>Capos allow you to use easy finger positions to play tricky chords. Suppose a song has the chords Am, F, C, G and says capo 1.</p>
  <p>If you have a capo, put the capo on the first fret. Pretend that the capo is the top of the ukulele, and play the chords relative to there. Because the capo keeps all of the strings shortened, you are actually playing A#m, F#, C#, G#.</p>
  <p>Putting the capo on the first fret is the same as transposing by +1. If you don’t have a capo and you want to play in the same key, you can just play the chords A#m, F#, C#, G#.</p>
</div>
{% endblock %}