
    <h2>Strum patterns</h2>
    <p>Song chords indicate when to transition between chords, but usually don’t specify how to play the chords on the right hand. I recommend using a strum pattern.</p>
    <p>A <strong>strum pattern</strong> is a regularly repeating sequence that you play independently of the singing. The most important step is developing a sense of rhythm. Learn how to count, and start simple.</p>
    <p>Suppose that the chords transition every 4 beats. The simplest strum pattern you can play is to strum down (D) once for every new chord. Other simple strum patterns are strumming every 2 beats and strumming every beat.</p>
    <ol>
      <li>D D</li>
      <li>D D D D</li>
      <li>D D D D D D D D</li>
    </ol>
    <p>.</p>
    <p>You can also learn how to strum up (U). I strum down with the nail on my index finger and up with the fleshy part of the finger.</p>
    <ol>
      <li>DUDUDUDUDUDUDUDU</li>
      <li>D DUD DUD DUD DU</li>
      <li>D DU UDUD DU UDU
        <ul>
          <li>This is the island strum and takes a while to master.</li>
        </ul>