{% extends "partials/base.html" %} {% block title %}
<title>Why play the ukulele? | Elaine Lin Music</title>
{% endblock %} {% block content %}
<div class="container textContainer">
  <h1 class="headingPrimary">Why play the ukulele?</h1>
  <p>
    Hi! I'm Elaine. I've been playing ukulele sing 2017, and you can find my
    ukulele tutorials on
    <a
      href="https://www.youtube.com/channel/UCtscOI_XyD8WxEgWyYtAXaQ"
      target="_blank"
      >Youtube</a
    >. There are many great reasons to play the ukulele! This post discusses
    reasons to play the ukulele.
  </p>
  <h2 class="headingSecondary">Instruments to accompany singing</h2>
  <p>
    Singing is a great way to express yourself and your emotions. However, just
    one voice by itself can sound lonely. Which instruments can accompany your
    singing on the go?
  </p>
  <p>
    Woodwind and brass instruments are out - if you're blowing a flute, you
    can't use your voice to sing at the same time. What about piano?
    Unfortunately, pianos are not very portable.
  </p>
  <p>
    In general, <b>lutes</b> are great for accompanying singing. A lute is a
    stringed instrument you hold and strum - think ukuleles, guitars, banjos,
    etc. Lutes also tend to be (relatively) small and portable.
  </p>
  <p>
    For me, I started out playing guitar through free guitar lessons in college.
    Now, I still play guitar, but often prefer the ukulele due to its size,
    tone, and tuning.
  </p>

  <h2 class="headingSecondary">Smaller size</h2>
  <p>
    If you have little to no music experience, an ukulele can be easier to learn
    than a guitar. For example, I've had a lot of success teaching
    <i>complete beginners</i> to play
    <a href="/guides/four_chord_songs" target="_blank" rel="noopener noreferrer"
      >easy songs</a
    >
    on ukulele in just 30 minutes.
  </p>
  <p>
    An ukulele has 4 strings; a guitar has 6. Since an ukulele has fewer
    strings,
    <a href="/guides/beginner_ukulele_chords">beginner ukulele chords</a>
    don't require as much effort to play. Ukulele strings are often softer than
    guitar strings, so you don't need to exert as much force. Ukuleles are also
    smaller than guitars and can be easier to hold.
  </p>
  <p>
    The smaller size also makes ukuleles more portable. I've often plopped my
    travel, soprano ukulele into my backpack as an airplane carry-on.
    <b>Soprano</b> ukuleles are most common, smallest ukulele size. There are
    even smaller <b>sopranino</b> ukuleles, but I find that the sound quality
    tends to suffer for instruments that are too small.
  </p>
  <p>
    Ukuleles are affordable. Though you can buy a very expensive ukulele (I
    personally have a very nice, solid koa wood ukulele), you can buy a cheap,
    decent ukulele for less than the price of a cheap, decent guitar. If you
    want to buy your first ukulele, please see
    <a href="/guides/buy_ukulele" target="_blank" rel="noopener noreferrer"
      >this guide</a
    >.
  </p>
  <h2 class="headingSecondary">Cheery tone</h2>
  <p>
    Instrument tone, its perceived sound quality, is somewhat subjective.
    However, most people associate ukuleles with Hawaii and cheery, good vibes.
    Even if you play a sad song on the ukulele, it doesn't sound as dark. For
    example, the first song I learned on ukulele was
    <a
      href="https://www.youtube.com/watch?v=20dC5sKmLYA"
      target="_blank"
      rel="noopener noreferrer"
      >I Will Follow You into the Dark</a
    >.
  </p>
  <h2 class="headingSecondary">Better tuning for my voice</h2>
  <p>
    Ukuleles and guitars are tuned differently. I mostly sing and play ukulele,
    and I find I prefer ukulele over guitar tuning. To figure this out, I needed
    to learn music theory and understand my voice. First, some vocabulary terms:
  </p>

  <ul>
    <li>
      An instrument's <b>range</b> is which notes the instrument can produce.
      Guitars and ukulele are instruments. Your voice is also an instrument.
    </li>
    <li>
      For our purposes, a <b>key</b> is a set of pitches that's the basis for
      Western music.
    </li>
  </ul>
  <p>
    Here's a visual of instrument <b>ranges</b> for guitar, my voice, and
    ukulele. I show the ranges on a piano keyboard for ease of comparison. My
    voice range is E3 - E5.
  </p>
  <img
    src="/static/images/instrument_range_comparison_piano_voice_guitar_ukulele.png"
    height="350"
  />
  <p>
    Standard guitar tuning is EBGDAE. Baritone ukuleles are tuned like the
    bottom 4 strings of a guitar (GDAE). Because of how these instruments are
    set up, G major is the easiest <b>key</b> to play on a guitar or a baritone.
    Unfortunately, for me, singing songs in G major involves the very bottom of
    very top of my range, so it's hard to sound good.
  </p>
  <p>
    On the other hand, standard tuning for most ukuleles (soprano, concert,
    tenor) is GCEA, and C major is the easiest <b>key</b> to play on an ukulele.
    Singing songs in C major involves the middle part of my range, which is the
    strongest.
  </p>
  <p>
    Note that the ukulele range shown above (C4 - A5) is for an ukulele with a
    high G string. If you put a low G string on a ukulele, you get a slightly
    wider range (G3 - A5). This overlaps nicely with my vocal range, so I can
    use an ukulele with a low G to write melodies for songs.
  </p>
  <h2 class="headingSecondary">Appendix</h2>
  <p>
    If you're a beginner, and you want to improve your singing, please see this
    guide on
    <a
      href="/guides/singing_for_beginners"
      target="_blank"
      rel="noopener noreferrer"
      >how to improve at singing for beginners</a
    >. If you want to learn how to play and sing at the same time,
    <a href="/guides/playing_and_singing" target="_blank">here</a> are some
    tips. For more reasons on why different people play ukulele, you can check
    out this
    <a
      href="https://www.reddit.com/r/ukulele/comments/7m94xn/why_the_ukulele/"
      target="_blank"
      >Reddit thread on /r/ukulele</a
    >.
  </p>
  <h2 class="headingSecondary">MusicParsed features</h2>
  <p>
    This site, MusicParsed, is a better site for song chords. You can use it if
    you play ukulele, baritone ukulele, guitar, or guitalele. It supports both
    left and right-handed chord diagrams. If you're making a chord chart, you
    can also use
    <a href="/render" target="_blank" rel="noopener noreferrer">this tool</a> to
    get chord diagrams.
  </p>
  <p>
    Baritone ukuleles are tuned like the bottom 4 strings of a guitar (ukulele
    transposed -5), and guitaleles are tuned like a guitar with CAPO 5 (guitar
    transposed +5). Here's a visual comparison of different lutes:
  </p>
  <img
    src="/static/images/lute_comparisons_ukulele_guitar_baritone_guitalele.png"
    height="200"
  />
</div>
{% endblock %}
