how to make a webinar?
this is a talk (good for pacing)
slide format

Learning your first ukulele song
Learning your first song on ukulele
how to learn your first cover

one song you want to learn :)

feeling:
overwhelming
too much going on

relax
take a deep breath
step away from the situation

break it down, do separately
1. voice
2. ukulele
3. combining

short list of action items:

infiniteloop the video (link)

1. just sing through the song
[how to improve at singing] (link)

you can do this! :D


2. just play through the song
hard if you're new to uke!

tip: slow down video playback speed 
  (gear --> speed --> 0.75 or 0.5)

a. tune + hold the ukulele (link)

ukulele = chords (left hand) + strumming (right hand)
** practice one hand at a time!

b. Chords

b1. play chords (link: http://www.musicparsed.com/guides/beginner_ukulele_chords)
get a feel for what different chords sound like
get a feel for transitioning between chords, move fingers on left hand

b2. find chords for the song

song chords = template for how to play a song 
[understanding song chords](link: http://www.musicparsed.com/guides/song_chords)
  tell you when to switch from one chord to another, move fingers on left hand

where?
for my songs, I always post chords on MusicParsed
  multi-column, no scroll, follow along easily

other sources: 
  Youtube - tutorial vids
    cynthia lin, ukulele teacher
    even guitar tutorials (Dave Tran guitarzero2hero)
  Google search, chordify, ultimate guitar, ukutabs
    autoscroll

c. Strumming
** sense of rhythm

(link: http://www.musicparsed.com/guides/beginner_strum_patterns)




