{% extends "partials/base.html" %}

{% block script %}
<link rel="stylesheet" href="{{ manifest['convert.css'] }}" />
{% endblock %}

{% block content %}
<div class="container">
  <div class="headingPrimary">Convert Tabs</div>
  <p>Convert tabs between the ukulele and guitar. This is helpful if you need to play a guitar tab on an ukulele or
    vice versa.</p>
  <div class="row">
    <div class="col-8">
      <div class="headingSecondary">Enter your <span class="fromInstrument">guitar</span> tab</div>
      <textarea class="tab input"
        placeholder="E|-------2-----&#10;B|-----3---3---&#10;G|---2-------2-&#10;D|-0-----------&#10;A|-------------&#10;E|-------------"></textarea>
      <div>
        <button type="submit" class="btn btn-primary convert">Convert to <span
            class="toInstrument">ukulele</span></button>
      </div>
    </div>
    <div class="col-4">
      <div class="headingSecondary">Instruments</div>
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary active " id="toUkulele">
          <input type="radio" checked hidden> To ukulele
        </label>
        <label class="btn btn-primary " id="toGuitar">
          <input type="radio" hidden> To guitar
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <div class="headingSecondary">Converted <span class="toInstrument">ukulele</span> tab</div>
      <textarea class="tab converted"></textarea>
    </div>
  </div>
</div>

<script src="{{ manifest['convert.js'] }}"></script>
{% endblock %}