{% extends "partials/base.html" %}

{% block title %}
<title>Render chords for ukulele, baritone ukulele, guitar, or guitalele | MusicParsed</title>
{% endblock %}

{% block script %}
<link rel="stylesheet" href="{{ manifest['index.css'] }}" />
<script src="{{ manifest['renderChords.js'] }}"></script>
{% endblock %}

{% block content %}
<div class="container">
  <h1 class="headingPrimary">Render chords</h1>
  <p>
    Get chord diagrams for ukulele, baritone ukulele, guitar, or guitalele. This is helpful if you're making a chord chart. 
    For the ukulele, you can use the <a href="https://ukebuddy.com/chord-namer" target="_blank"
    rel="noopener noreferrer">ukulele chord namer</a> to name a chord given its fretboard fingering.
  </p>
  </p>
  <form class="form-inline">
    <span class="widget">
      <span>Instrument:</span>
      <span id="instrument"></span>
    </span>
    <span class="widget">
      <span>Orientation:</span>
      <span id="orientation"></span>
    </span>
  </form>
  <div class="form-group">
    <label for="chords">Enter your chords: </label>
    <input type="text" class="form-control" placeholder="Am|2,0,0,3; F; C; G" id="chords">
  </div>
  <button type="submit" class="btn btn-primary" id="renderChords">Get chord diagrams</button>
  <div class="chordPics" id="chordPicBox"></div>
</div>

{% endblock %}