{% extends "partials/base.html" %}

{% block script %}
<link rel="stylesheet" href="{{ manifest['index.css'] }}" />
<script src="{{ manifest['renderChords.js'] }}"></script>
{% endblock %}

{% block content %}
<div class="container">
  <h1>Render Chords</h1>
  <p>
    Generate chord diagrams for an instrument. This is helpful if you're making a chord chart. To name a chord given its fretboard position, use the <a href="https://ukebuddy.com/chord-namer" target="_blank" rel="noopener noreferrer">ukulele chord namer</a>.
  </p>
  </p>
  <form class="form-inline">
    <span class="ui-widget mr-2">
      <span>Instrument:</span>
      <span id="instrument"></span>
    </span>
    <span class="ui-widget">
      <span>Orientation:</span>
      <span id="orientation"></span>
    </span>
  </form>
  <div class="form-group">
    <label for="chords">Enter your chords: </label>
    <input type="text" class="form-control" placeholder="Am|2,0,0,3; F; C; G" id="chords">
  </div>
  <button type="submit" class="btn btn-primary" id="renderChords">Get chord diagrams</button>
  <div class="chordPics" id="chordPicBox"></div>
</div>

{% endblock %}
