{% extends "partials/base.html" %} {% block title %}
<title>All songs | MusicParsed</title>
{% endblock %} {% block script %}
<link rel="stylesheet" href="{{ manifest['showAllSongs.css'] }}" />
<script src="{{ manifest['showAllSongs.js'] }}"></script>
{% endblock %} {% block nav_widgets %} {% include "partials/nav_search.html" %}
{% endblock %} {% block content %}
<div class="container">
  <h1 class="headingPrimary">All songs</h1>
  <div class="tagsContainer">
    <span class="tagsLabel">Filter by tag:</span>
    <span id="allTags"></span>
  </div>
  <div id="allSongs"></div>
</div>
{% endblock %}
