{% extends 'partials/base.html' %}

{% block script %}
{{ webpack['showAllSongs.css'] }}
{{ webpack['showAllSongs.js'] }}
{% endblock %}

{% block content %}
<div>
<ul>
  <li>
    <a target="_blank" href="https://docs.google.com/spreadsheets/d/19Zg8yoctvfWs2yVJff14Q8BPvoA7SGDqOwJPfskld1E/edit#gid=132683285">Spreadsheet</a>
  </li>
  <li>
    <a target="_blank" href="https://drive.google.com/file/d/0B47vtUvjyiq7b25WNlhwOU10WEE/view">Song packet</a>
    <ul>
      <li>Brown Eyed Girl</li>
      <li>Somewhere Over the Rainbow</li>
      <li>Proud Mary</li>
      <li>Island Style</li>
      <li>Stand By Me</li>
      <li>Build Me Up, Buttercup</li>
    </ul>
  </li>
  <li>
    <a target="_blank" href="https://drive.google.com/file/d/0ByjXY1x98D8NZG9SdmRlUzlTQjA/view">Happy Birthday tab</a>
  </li>
  <li>
    <a target="_blank" href="https://docs.google.com/document/d/1ktTqvwdWE8flEv-nT96_wT79q7u0MuEyUIA3hWZ7QdE/edit">Monster Mash</a>
  </li>
  <li>
    <a target="_blank" href="https://docs.google.com/document/d/1z3VUqpSwW5YP-8KdcZkBFF2Obw6J5l2c88uj4B8R2OI/edit">Don't Stop Believin'</a>
  </li>
  <li>
    <a target="_blank" href="https://docs.google.com/document/d/1vDyK05jaAYfqWovxizLNH73DNNQch_yNChxeI3RSilc/edit#">Addams Family</a>
  </li>
</ul>
</div>
{% endblock %}