{% extends "partials/base.html" %}

{% block content %}
<div class="container">
  <h1>Aloha Uke Squad Songs</h1>
  <h2>Packets</h2>
  <ul>
    <li>
      <a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1Is1xhyRac3N-wG5V_9BBfRFsQuJXGYbG/view">12/17 Winter Walk</a>
    <li>
      <a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/open?id=1KLb3Ql8KcvV9N-v-55elY5wcWYwYK1Ft">12/7 On Lok</a>
    <li>
       <a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/open?id=0B-8dQrGKIW7BQmxMaHl2SmRfUExlNDlKUjRnRTRYY2gzYV9R">12/2 Laguna Honda</a>
    </li>
    <li>
      <a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/0B47vtUvjyiq7b25WNlhwOU10WEE/view">7/1 Laguna Honda</a>
    </li>
  </ul>
  <h2>Songs</h2>
  <ul>
    <li>
      <a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/spreadsheets/d/19Zg8yoctvfWs2yVJff14Q8BPvoA7SGDqOwJPfskld1E/edit#gid=132683285">Spreadsheet</a>
    </li>
    <li>
      <a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/0ByjXY1x98D8NZG9SdmRlUzlTQjA/view">Happy Birthday tab</a>
    </li>
    <li>
      <a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/document/d/1ktTqvwdWE8flEv-nT96_wT79q7u0MuEyUIA3hWZ7QdE/edit">Monster Mash</a>
    </li>
    <li>
      <a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/document/d/1z3VUqpSwW5YP-8KdcZkBFF2Obw6J5l2c88uj4B8R2OI/edit">Don't Stop Believin'</a>
    </li>
    <li>
      <a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/document/d/1vDyK05jaAYfqWovxizLNH73DNNQch_yNChxeI3RSilc/edit#">Addams Family</a>
    </li>
  </ul>
</div>
{% endblock %}