{% extends "partials/base.html" %}

{% block script %}
{{ webpack["convert.css"] }}
{% endblock %}

{% block content %}
<div class="container">
  <h1>Convert Ukulele + Guitar Tabs</h1>
  <div class="row">
    <div class="col-xs-8">
      <h2>Enter your <span class="fromInstrument">guitar</span> tab</h2>
      <textarea class="tab"></textarea>
      <div>
        <button class="btn btn-default convert">Convert to <span class="toInstrument">ukulele</span></button>
      </div>
    </div>
    <div class="col-xs-4">
      <h2>Instruments</h2>
      <div class="btn-group" data-toggle="buttons">
        <div>
          <label class="btn btn-default active option" id="toUkulele" >
            <input type="radio" checked hidden> Guitar tabs to ukulele
          </label>
        </div>
        <div>
          <label class="btn btn-default option" id="toGuitar">
            <input type="radio" hidden> Ukulele tabs to guitar
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8">
      <h2>Converted <span class="toInstrument">ukulele</span> tab</h2>
      <textarea class="tab converted"></textarea>
    </div>
  </div>
</div>

{{ webpack["convert.js"] }}
{% endblock %}