{% extends "partials/base.html" %}

{% block script %}
{{ webpack["convert.css"] }}
{{ webpack["parser.js"] }}
{% endblock %}

{% block content %}
<div class="container">

  <label>Song</label>
  <input type="text" id="title" class="form-control" placeholder="I'm Yours">
  <br/>
  <label>Artist</label>
  <input type="artist" id="artist" class="form-control" placeholder="Jason Mraz">
  <br/>

  <textarea id="songText" class="tab" placeholder="Enter song chords/lyrics"></textarea>
  <br/>

  <button id="submit" class="btn btn-primary">Submit</button>

  <br/>
  <br/>
  <button id="delete" class="btn btn-danger">Delete</button>
</div>
{% endblock %}