<!DOCTYPE html>
<html data-title="{{title}}" data-artist="{{artist}}">

<head>
  <meta charset="utf-8">
  <title>MusicParsed</title>

  <!-- Ukulele favicon -->
  <link rel="icon" href="/static/images/favicon.png">

  {{ webpack['index.js'] }}

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-66999018-2', 'auto');
  ga('send', 'pageview');
  </script>

</head>

<body>
  <div id='testButton'></div>
  <div class="container-fluid">
      <div id="songView">
        <div class="row">
          <div class="ui-widget">
            <label for="tags">Song select: </label>
            <input id="tags">
            <a href="/all"><button class="btn btn-default">Show all songs</button></a>
            <label for="widgets">Widgets: </label>
            <button class="btn btn-default" id="viewToggle" title="Hide/show the column and transpose widgets">hide</button>

            <label for="chords">Chords: </label>
            <span id="instrument"></span>
          </div>
          <div id="widgets">
            <div class="ui-widget">
              <label for="column">Columns</label>
              <span id="column"></span>
            </div>
            <div class="ui-widget">
              <label for="transpose">Transpose</label>
              <span id="transpose"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <h3 id="title"></h3>
          <div class="col-xs-12" id="song">
          </div>
          <div id="chordPics" title="Click to hide chord pictures">
          </div>
        </div>
      </div>
    </div>
  </div> <!-- class="container" -->
</body>
</html>