{% extends "partials/base.html" %}

{% block script %}
{{ webpack["index.css"] }}
{{ webpack["index.js"] }}
{% endblock %}

{% block nav_widgets %}
{% include "partials/nav_search.html" %}
<span class="navbar-item">
  <label for="widgets">Widgets: </label>
  <button class="btn btn-outline-secondary" type="button" id="viewToggle" title="Hide/show the column and transpose widgets">hide</button>
</span>
{% endblock %}

{% block content %}
<div id="songView">
  <div id="widgets">
    <div class="ui-widget">
      <label for="chords">Chords: </label>
      <span id="instrument"></span>
      <label for="orientation">Orientation: </label>
      <span id="orientation"></span>
    </div>
    <div class="ui-widget">
      <label for="transpose">Transpose: </label>
      <span id="transpose"></span>
      <label for="column">Columns: </label>
      <span id="column"></span>
    </div>
  </div>
  <h3>
    <span id="title"></span>
    <button class="btn btn-primary" id="capo">
      <span>&times;</span>
      <span id="capoAmount"></span>
    </button>
  </h3>
  <div id="songContainer">
    <div id="song">
    </div>
  </div>
</div>
<div class="chordPics" title="Click to hide chord pictures">
</div>
{% endblock %}

