{% extends "partials/base.html" %} {% block title %}
<title>Change password | MusicParsed</title>
{% endblock %} {% block content %}
<div class="container">
  <h1 class="headingPrimary">Change password</h1>
  {% include "partials/flash_message.html" %}
  <form action="/api/password" method="post">
    <label class="label">Username:</label>
    <input
      type="text"
      name="username"
      class="form-control"
      placeholder="User"
      required
    />
    <br />
    <label class="label">Current password:</label>
    <input
      type="password"
      name="password"
      class="form-control"
      placeholder="Current Password"
      required
    />
    <br />
    <label class="label">New password:</label>
    <input
      type="password"
      name="newPassword"
      class="form-control"
      placeholder="New Password"
      required
    />
    <br />
    <input type="submit" class="btn btn-primary" value="Submit" />
  </form>
</div>
{% endblock %}
