{% extends "partials/base.html" %}

{% block content %}
<div class="container">
  <h1>Password Reset</h1>
  {% include "partials/flash_message.html" %}
  <form action="/api/password" method="post">
    <label>Username:</label>
    <input type="text" name="username" class="form-control" placeholder="User" required />
    <br />
    <label>Current Password:</label>
    <input type="password" name="password" class="form-control" placeholder="Current Password" required />
    <br />
    <label>New Password:</label>
    <input type="password" name="newPassword" class="form-control" placeholder="New Password" required />
    <br />
    <input type="submit" class="btn btn-primary" value="Submit"/>
  </form>
</div>
{% endblock %}