{% extends "partials/base.html" %}

{% block content %}
<div class="container">
  <h1>Sign up</h1>
  {% include "partials/flash_message.html" %}
  <p>Create an account to add your own song chords.</p>
  <form action="/api/signup" method="post">
    <label>Username:</label>
    <input type="text" name="username" class="form-control" placeholder="User" required />
    <br />
    <label>Password:</label>
    <input type="password" name="password" class="form-control" placeholder="Password" required />
    <br />
    <input type="submit" class="btn btn-primary" value="Create"/>
  </form>
</div>
{% endblock %}