{{#allSongs}}
  <div class="songTag">
    <strong>{{artist}}</strong>
    <ul>
      {{#songs}}
        <a href="{{url}}"><span><li data-id="{{id}}">{{title}}</li></span></a>
      {{/songs}}
    </ul>
  </div>
{{/allSongs}}
