{{#allSongs}}
  <div class="songTag">
    <div class="songArtist">{{artist}}</div>
    {{#songs}}
      <div class="songTitle"><a href="{{url}}"><span data-id="{{id}}">{{title}}</span></a></div>
    {{/songs}}
  </div>
{{/allSongs}}
