<div class="btn-group btn-group-toggle" data-toggle="buttons">
  {{#buttons}}
    <label class="btn btn-outline-secondary" id={{type}}-{{value}}><input type="radio" name={{type}} value={{value}}> {{name}}</label>
  {{/buttons}}
</div>