<div class="btn-group" data-toggle="buttons">
  {{#buttons}}
    <label class='btn btn-default' data-{{type}}={{value}} id={{type}}-{{value}}><input type='radio'> {{name}}</label>
  {{/buttons}}
</div>
