<div class="btn-group" data-toggle="buttons">
  {{#buttons}}
    <label class="btn btn-default" id={{type}}-{{value}}><input type="radio" name={{type}} value={{value}}> {{name}}</label>
  {{/buttons}}
</div>
