{{#lines}}
  {{#label}}
    <h5>{{label}}</h5>
  {{/label}}
  {{^label}}
    <div class="{{className}}">{{#chordLyricPairs}}{{#chord}}<span class="chords">{{chord}}</span>{{/chord}}{{lyric}}{{/chordLyricPairs}}</div>
  {{/label}}
{{/lines}}
